.cpP_tabber
    .row.debugPannel.starterTabOpt
        .col-2-tp
            .cpP__tab.active.starterTabTrigger__1(data-page='1') Main
        .col-2-tp
            .cpP__tab.starterTabTrigger__2(data-page='2') Colors
        .col-2-tp
            .cpP__tab.starterTabTrigger__3(data-page='3') Fonts
        .col-2-tp
            .cpP__tab.starterTabTrigger__4(data-page='4') Layouts
        .col-2-tp
            .cpP__tab.starterTabTrigger__5(data-page='5') Pages
        .col-2-tp
            .cpP__tab.starterTabTrigger__6(data-page='6') Scripts
    .cpP__tabContent_1.cpP__tabContent.clearfix(style='display:block')
        .optionLine
            label Project Title
            input(type='text' required=true name="project_title")
        .optionLine
            label Project Prefix
            input(type='text' required=true name="project_prefix")
        .optionLine
            label Project Language
            select(name="project_language")
                option(value='eng' selected= true) eng
                option(value='eng') ru

    .cpP__tabContent_2.cpP__tabContent.clearfix
        .optionLine
            label Primary Color
            input(type='color' name="primary_color" value='#3b68c9')
        .optionLine
            label Secondary Color
            input(type='color' name="secondary_color" value='#c9612c')
        .optionLine
            label Foreground Color
            input(type='color' name="foreground_color" value='#5ac948')
        .optionLine
            label Background Color
            input(type='color' name="background_color" value='#7746c9')
        .optionLine
            label Accent Color
            input(type='color' name="accent_color" value='#c90028')
        .optionLine
            label Font Color
            input(type='color' name="font_color" value='#86c999')
        .optionLine
            label Color lighter index
            input(type='text' required=true name="color_lighterIndex" value='.15')
    .cpP__tabContent_3.cpP__tabContent.clearfix#font_option
        .optionLine
            label Screen Font
            input(type='text' required=true name="screen_font" value='16px')
        .optionLine
            label Mobile Font
            input(type='text' required=true name="mobile_font" value='16px')
        .optionLine
            label Line height Ratio
            input(type='text' required=true name="lh_ratio" value='1.5')
            div.cpP_fl_h Linked Fonts
                span#addLink1 +
            .optionLine.fl_group
                label Font Name
                    input(type='text' required=true name="link_font__1_name")
                label Font Link
                    input(type='text' required=true name="link_font__1_link")
                label Font Role
                    select(name="link_font__1_role")
                        option(value='Body' selected= true) Body
                        option(value='Header' ) Header
                        option(value='Hero' ) Hero
                        option(value='Special_1' ) Special 1
                        option(value='Special_2' ) Special 2
                label Font weight
                    select(name="link_font__1_weight")
                        option(value='normal' selected= true) normal
                        option(value='100') 100
                        option(value='200') 200
                        option(value='300') 300
                        option(value='400') 400
                        option(value='500') 500
                        option(value='600') 600
                        option(value='700') 700
                        option(value='800') 800
                        option(value='900') 900
                label Font typeface
                    select(name="link_font__1_typeface")
                        option(value='Serif' selected= true) Serif
                        option(value='San-serif') San-serif
                        option(value='Monospace') Monospace
    .cpP__tabContent_4.cpP__tabContent.clearfix
        .col-6-tp.verDel(style='background:#313335 !important')
            span MEDIA
            .optionLine
                label Response
                    select(name="response")
                        option(value='true' selected= true) true
                        option(value='false') false
            .optionLine
                label Site Width
                    input(type='text' name="width" value="1170px")
            .optionLine
                label Colums
                    input(type='text' name="colums" value="12")
            .optionLine
                label Gutter Width
                    input(type='text' name="gutter" value=".5em")
            .optionLine
                label Vertical Rhythm
                    select(name="vRhythm")
                        option(value='true' selected= true) true
                        option(value='false') false
            .optionLine
                label Mobile : Container / Breakpoint
                    input(type='text' name="m_c" value="100%")
                    input(type='text' name="m_b" value="600px")
            .optionLine
                label Tablet Portrait : Container / Breakpoint
                    input(type='text' name="tp_c" value="690px")
                    input(type='text' name="tp_b" value="768px")
            .optionLine
                label Tablet LandScape : Container / Breakpoint
                    input(type='text' name="tl_c" value="900px")
                    input(type='text' name="tl_b" value="994px")
            .optionLine
                label Desktop  : Container / Breakpoint
                    input(type='text' name="d_c" value="1120px")
                    input(type='text' name="d_b" value="1200px")
        .col-6-tp.verDel(style='background:#313335 !important')
            span SPACER
            .optionLine
                label Space Unit
                    select(name="unit")
                        option(value='px' selected= true) px
                        option(value='em') em
                        option(value='rem') rem
            .optionLine
                label Spacer Principle
                    select(name="spacer_principle")
                        option(value='fibonacci' selected= true) Fibonacci
                        option(value='linear') Linear Progressive
                        option(value='manual') Manual
            .optionLine
                label Linear Progressive unit
                    input(type='text' name="progressive_unit" value="1.5")
            .optionLine
                label Element Inner / Outer
                    input(type='text' name="e_i" value=".5")
                    input(type='text' name="e_o" value=".7")
                label Component Inner / Outer
                    input(type='text' name="c_i" value=".5")
                    input(type='text' name="c_o" value=".7")
                label Module Inner / Outer
                    input(type='text' name="m_i" value=".5")
                    input(type='text' name="m_o" value=".7")
                label Block Inner / Outer
                    input(type='text' name="b_i" value=".5")
                    input(type='text' name="b_o" value=".7")
    .cpP__tabContent_5.cpP__tabContent 5
    .cpP__tabContent_6.cpP__tabContent 6

