.cpP_tabber
    .row.debugPannel
        .col-2-tp
            .cpP__tab.active.starterTabTrigger__1(data-page='1') Main
        .col-2-tp
            .cpP__tab.starterTabTrigger__2(data-page='2') Colors
        .col-2-tp
            .cpP__tab.starterTabTrigger__3(data-page='3') Fonts
        .col-2-tp
            .cpP__tab.starterTabTrigger__4(data-page='4') Layouts
        .col-2-tp
            .cpP__tab.starterTabTrigger__5(data-page='5') Pages
        .col-2-tp
            .cpP__tab.starterTabTrigger__6(data-page='6') Scripts
    .cpP__tabContent_1.cpP__tabContent(style='display:block')
        .optionLine
            label Project Title
            input(type='text' required=true name="project_title")
        .optionLine
            label Project Prefix
            input(type='text' required=true name="project_prefix")
        .optionLine
            label Project Language
            select(name="project_language")
                option eng
                option ru

    .cpP__tabContent_2.cpP__tabContent
        .optionLine
            label Primary Color
            input(type='color' name="primary_color" value='#3b68c9')
        .optionLine
            label Secondary Color
            input(type='color' name="secondary_color" value='#c9612c')
        .optionLine
            label Foreground Color
            input(type='color' name="foreground_color" value='#5ac948')
        .optionLine
            label Background Color
            input(type='color' name="background_color" value='#7746c9')
        .optionLine
            label Accent Color
            input(type='color' name="accent_color" value='#c90028')
        .optionLine
            label Font Color
            input(type='color' name="font_color" value='#86c999')
        .optionLine
            label Color lighter index
            input(type='text' required=true name="color_lighterIndex" value='1.5')
    .cpP__tabContent_3.cpP__tabContent#font_option
            div.cpP_fl_h Linked Fonts
                span#addLink +
            .optionLine.fl_group
                label Font Name
                    input(type='text' required=true name="link_font__1_name")
                label Font Link
                    input(type='text' required=true name="link_font__1_link")
                label Font Role
                    select(name="link_font__1_role")
                        option Body font
                        option Header font
    .cpP__tabContent_4.cpP__tabContent 4
    .cpP__tabContent_5.cpP__tabContent 5
    .cpP__tabContent_6.cpP__tabContent 6

