.cpP_tabber
    .row.debugPannel
        .col-2-tp
            .cpP__tab.active.starterTabTrigger__1(data-page='1') Main
        .col-2-tp
            .cpP__tab.starterTabTrigger__2(data-page='2') Colors
        .col-2-tp
            .cpP__tab.starterTabTrigger__3(data-page='3') Fonts
        .col-2-tp
            .cpP__tab.starterTabTrigger__4(data-page='4') Layouts
        .col-2-tp
            .cpP__tab.starterTabTrigger__5(data-page='5') Pages
        .col-2-tp
            .cpP__tab.starterTabTrigger__6(data-page='6') Scripts
    .cpP__tabContent_1.cpP__tabContent(style='display:block')
        .optionLine
            label Project Title
            input(type='text' required=true name="project_title")
        .optionLine
            label Project Prefix
            input(type='text' required=true name="project_prefix")
        .optionLine
            label Project Language
            select(name="project_language")
                option eng
                option ru

    .cpP__tabContent_2.cpP__tabContent
        .optionLine
            label Primary Color
            input(type='color' name="primary_color" value='#3b68c9')
        .optionLine
            label Secondary Color
            input(type='color' name="secondary_color" value='#c9612c')
        .optionLine
            label Foreground Color
            input(type='color' name="foreground_color" value='#5ac948')
        .optionLine
            label Background Color
            input(type='color' name="background_color" value='#7746c9')
        .optionLine
            label Accent Color
            input(type='color' name="accent_color" value='#c90028')
        .optionLine
            label Font Color
            input(type='color' name="font_color" value='#86c999')
        .optionLine
            label Color lighter index
            input(type='text' required=true name="color_lighterIndex" value='1.5')
    .cpP__tabContent_3.cpP__tabContent#font_option
        .optionLine
            label Screen Font
            input(type='text' required=true name="screen_font" value='16')
        .optionLine
            label Mobile Font
            input(type='text' required=true name="mobile_font" value='16')
        .optionLine
            label Line height Ratio
            input(type='text' required=true name="lh_ratio" value='1.5')
            div.cpP_fl_h Linked Fonts
                span#addLink +
            .optionLine.fl_group
                label Font Name
                    input(type='text' required=true name="link_font__1_name")
                label Font Link
                    input(type='text' required=true name="link_font__1_link")
                label Font Role
                    select(name="link_font__1_role")
                        option Body
                        option Header
                        option Hero
                        option Special 1
                        option Special 2
                label Font weight
                    select(name="link_font__1_weight")
                        option normal
                        option 100
                        option 200
                        option 300
                        option 400
                        option 500
                        option 600
                        option 700
                        option 800
                        option 900
                label Font typeface
                    select(name="link_font__1_typeface")
                        option Serif
                        option San-serif
                        option Monospace
    .cpP__tabContent_4.cpP__tabContent
        .optionLine
            label Response
                select(name="response")
                    option true
                    option false
        .optionLine
            label Vertical Rhythm
                select(name="vRhythm")
                    option true
                    option false
        .optionLine
            label Space Unit
                select(name="unit")
                    option px
                    option em
                    option rem
        .optionLine
            label Spacer Principle
                select(name="spacer_principle")
                    option Fibonacci
                    option Linear Progressive
                    option Manual
        .optionLine
            label inear Progressive unit
                input(type='text' name="progressive_unit" value="1.5")
        .optionLine
            label Element Inner / Outer
                input(type='text' name="e_i" value=".5")
                input(type='text' name="e_o" value=".7")
            label Component Inner / Outer
                input(type='text' name="e_i" value=".5")
                input(type='text' name="e_o" value=".7")
            label Module Inner / Outer
                input(type='text' name="e_i" value=".5")
                input(type='text' name="e_o" value=".7")
            label Block Inner / Outer
                input(type='text' name="e_i" value=".5")
                input(type='text' name="e_o" value=".7")
    .cpP__tabContent_5.cpP__tabContent 5
    .cpP__tabContent_6.cpP__tabContent 6

