mixin B-b1(value,className)
	-if (!className) className =''
	button.b1(class=''+className data-qcontent='element__buttons__b1')=value	


mixin B-switcher(value,className)
	-if (!className) className =''
	.switcher.not(class=''+className data-qcontent='element__buttons__switcher')=value
		label.switch
			input#js-switchShopState(type="checkbox") 
			span.slider.round



mixin B-toOrder(value,className)
	-if (!className) className =''
	button.toOrder.active.notEdit(class=''+className data-qcontent='element__buttons__toOrder') В заявку
  

mixin dashBoardElement(icon,text,className,type)
	-if (!className) className =''
	li(class=''+className  data-qcontent='element__ICON-TITLE-TEXTS__dashBoardElement')
		-if (!type)
			span.iconWrapper
				svg(class=' ' + classModifier)
					use(xlink:href="#" + icon)
			span.dashBoardElement__title=text
		-if(type=='switcher')//mop_row
			span.dashBoardElement__title.dashBoardElement__switcher=text
			+B-switcher()
		-if(type=='noticer')
			span.iconWrapper(data-notice='12')
				svg(class=' ' + classModifier)
					use(xlink:href="#" + icon)
			span.dashBoardElement__title=text  
		-if(type=='orderList')
			span.iconWrapper.iconWrapper--orderList(data-order='15')  
				svg(class=' ' + classModifier) 
					use(xlink:href="#" + icon)
			span.dashBoardElement__pricer='100 000р   '    
			a(href'/').dashBoardElement__arr Оформить заявку
			
			


mixin I(id,classModifier)
	-if (!classModifier) classModifier =''
	-else classModifier = 'icon--'+classModifier
	svg(class='icon '+classModifier data-qcontent='element__ICONS__MAIN-SVG-use')
		use(xlink:href="#"+id)         