mixin B-button(value,className)
	-if (!className) className =''
	button.button(class='button--'+className data-qcontent='element__buttons__button')=value


mixin B-b1(value,className)
	-if (!className) className =''
	button.b1(class=''+className data-qcontent='element__buttons__b1')=value	


mixin B-checkBox(label,className,icon)
	-if (!className) className =''
	.checkBox.col.col-12-tl.col-6-tp.col-6-m(class=''+className data-qcontent='element__buttons__checkBox')
		-if(icon)
			+I(icon) 
		input.checkBox__input.productFilter__checkbox(type='checkbox',id="id_"+label)
		label.checkBox__label(type='checkbox',for="id_"+label)=label
			
mixin B-compare(value,className)
	-if (!className) className =''
	button.compare(class=''+className data-qcontent='element__buttons__compare')=value
		+I('compare')
		span Сравнение

mixin B-delete(value,className)
	-if (!className) className =''
	button.delete(class=''+className data-qcontent='element__buttons__delete')=value
		+I('delete','delete')


mixin B-marketButton(value,className)
	-if (!className) className =''
		a.marketButton(href="/" class=''+className data-qcontent='element__buttons__marketButton')=value
		//	+I('bomb','bomb')

mixin B-moreButton(value,className)
	-if (!className) className =''
	button.moreButton(class=''+className data-qcontent='element__buttons__moreButton')=value
		span 	
			+I('more','moreButton') 
			| Смотреть еще 30 товаров

mixin B-productBadge(value,className,icon)
	-var className=className || ''
	span.productBadge(class='productBadge--'+className data-qcontent='element__buttons__productBadge')
		-if(icon)	
			+I(icon)
		| #{value}

mixin B-radio(label,className,checked)
	-if (!className) className =''
	-if (!checked) checked = false
	.radio(class=''+className data-qcontent='element__buttons__radio' )=value
		input.radio__input(value=label type='radio',id="id_"+label name='radio' checked=checked)
		label.radio__label(,for="id_"+label)=label
		-if(block)
			block
mixin B-slider(id)
	-if (!className) className =''
	input(type="text" id=id data-type="double" data-min="15" data-grid="true" name="example_name" value="" data-qcontent='element__buttons__slider')



mixin B-switcher(value,className)
	-if (!className) className =''
	.switcher.not(class=''+className data-qcontent='element__buttons__switcher')=value
		label.switch
			input#js-switchShopState(type="checkbox") 
			span.slider.round



mixin B-toOrder(value,className)
	-if (!className) className =''
	button.toOrder.active.notEdit(class=''+className data-qcontent='element__buttons__toOrder')=value
  

mixin B-upButton(value,className)
	-if (!className) className =''
	div.upButton__ctn
		button.upButton(id='js-up' class=''+className data-qcontent='element__buttons__upButton')=value
			span.icon-to-up Наверх

mixin A-actionLink(content,href,className,id,fontIcon)   
	-if (!className) className ='' 
	-if (!fontIcon) fontIcon = ''
	a(class='actionLink '+className + ' '+fontIcon,href=href data-qcontent='element__LINKS__actionLink' id =id)=content
mixin A-catalogLink(content,href,className)
	-if (!className) className =''
	a(class='catalogLink '+className,href=href data-qcontent='element__LINKS__catalogLink')=content

mixin A-catalogLink-Main(content,href,className)
	-if (!className) className =''
	a(class='catalogLink-Main '+className,href=href data-qcontent='element__LINKS__catalogLink-Main')=content

mixin A-material(content,href,className)
	-if (!className) className =''
	a(class='material '+className,href='/sdsd' data-qcontent='element__LINKS__material')=content
	if block      
		block
mixin freeDelSticker(icon,title,text)
	-if (!className) className =""
		.freeDelSticker
			.iconWrapper
				svg()
					use(xlink:href="#" + icon)
			span=title+':'

mixin dashBoardElement(icon,text,className,type)
	-if (!className) className ='' 
	li.col.col-2-tl.dashBoardElement--active(class=''+className  data-qcontent='element__ICON-TITLE-TEXTS__dashBoardElement')
		-if (!type)
			a
				span.iconWrapper
					svg(class=' ' + classModifier)
						use(xlink:href="#" + icon)
				span.dashBoardElement__title=text  
		-if(type=='switcher')//mop_row 
			span.dashBoardElement__title.dashBoardElement__switcher='Режим ТЗ'
			+B-switcher()
		-if(type=='noticer')
			span.iconWrapper.loading-button(data-notice='12')
				svg(class=' ' + classModifier)
					use(xlink:href="#" + icon)
			span.dashBoardElement__title=text
		-if(type=='orderList')
			span.iconWrapper.iconWrapper--pickup
				svg(class=' ' + classModifier) 
					use(xlink:href="#" + icon)
			a(href'/').dashBoardElement__arr Пункт выдачи
		-if(type=='orderList')
			span.iconWrapper.iconWrapper--orderList(data-order='15')  
				svg(class=' ' + classModifier) 
					use(xlink:href="#" + icon)
			span.dashBoardElement__pricer='100 000р   '    
			a(href'/').dashBoardElement__arr Оформить заявку!!
			
			


mixin I(id,classModifier,elId)
	-if (!classModifier) classModifier =''
	-else classModifier = 'icon--'+classModifier
	svg(class='icon notEdit '+classModifier data-qcontent='element__ICONS__MAIN-SVG-use',id=elId)
		use(xlink:href="#"+id)
mixin In-counter(name,classModifier)
	-var classModifier = (classModifier)? 'counter--' + classModifier : ''
	.counter__ctn
		button.counter__btn.counter__btn--minus -
		input(name=name class='counter '+classModifier type='text' value="1" data-qcontent='element__INPUTS__counter')
		button.counter__btn.counter__btn--plus +
mixin In-compareButton(label,className,icon)
	-if (!className) className =''
	.checkBox.col.col-12-tl.col-6-tp.col-6-m(class=''+className data-qcontent='element__buttons__checkBox')
		label.checkBox__label(type='checkbox',for="id_"+label)
			-if(icon)
				+I(icon) 
			input.checkBox__input.productFilter__checkbox(type='checkbox',id="id_"+label)
			| #{label}
mixin In-radioButton(name,idp,checked,classModifier)
	-var classModifier = (classModifier)? 'radioButton--' + classModifier : ''
	-var idp = (idp)? idp:""
	-var checked = (checked)? true:false
	input(id=idp name=name class='radioButton'+classModifier type='radio' checked=checked data-qcontent='element__INPUTS__radioButton')
mixin In-cuponInput(name,classModifier)
	-var classModifier = (classModifier)? 'cuponInput--' + classModifier : ''
	.cuponInput
		label(for='cuponInput') Введите код купона для скидки:
			input( id='cuponInput' name=name class=''+classModifier type='text' maxlength=8 data-qcontent='element__INPUTS__cuponInput')
mixin In-select(name,classModifier)
	-var classModifier = (classModifier)? 'select--' + classModifier : ''
	select(name=name class='select'+classModifier type='text' data-qcontent='element__INPUTS__select')
		if block
			block
mixin In-textInput(name,placeholder,label,classModifier)  
	-var classModifier = (classModifier)? 'textInput--' + classModifier : ''
	-var placeholder = (placeholder)? placeholder : ''
	-var label = (label)? label : ''
	.input__ctn
		label.textInput__label=label
		input(name=name class='textInput '+classModifier placeholder=''+placeholder type='text' data-qcontent='element__INPUTS__textInput')
mixin In-textArea(name,label,placeholder,classModifier)
	-var classModifier = (classModifier)? 'textArea--' + classModifier : ''
	-var placeholder = (placeholder)? placeholder : ''
	-var label = (label)? label : ''
	label.textArea__label=label
		textArea(name=name class='textArea '+classModifier placeholder=''+placeholder type='text' data-qcontent='element__INPUTS__textArea')
	
