mixin MODULE-accordion(data)
	<!-- split modules/accordion -->
	button.filter__mobileSwitcher.icon-down#mobFilSwitcher
		+I('funnel','filterSwitcher')
		span Подобрать по фильтру
	.accordion__content#filter(data-qcontent='module__accordion')
		-for(var i in data)
			-var active = ''
			-if(data[i].active)
				-active = 'active'
			button.accordion.icon-down(class=' '+active)=data[i].title
				span.accordion__checkMarker
			.accordion__panel
				-if(data[i].content['type'] == 'checkBox')
					.accordion__checkBox
						.group.group-el
							-var cnt = data[i].content['in'].trim().split(' ')
							-for(var z in cnt )
								+B-checkBox(cnt[z])
				-if(data[i].content['type'] == 'slider')
					.accordion__slider
						+B-slider(data[i].content['id'])
				.productFilterRes__ctn
		footer.filter__buttons_ctn
			+B-button('Смотреть')
			+B-button('Сбросить','default')

mixin MODULE-additionalProducts()
	<!-- split modules/additionalProducts -->
	.additionalProducts__content(data-qcontent='module__additionalProducts')
mixin MODULE-bottomFeatures()
	<!-- split modules/bottomFeatures -->
	.bottomFeatures(data-qcontent='module__bottomFeatures')
		+LEVEL-inner()
			.mainInfo__logo
					a(href="/")
					h3
						img(src="source/images/sts-logo.svg" alt="santehsmart Сантехсмарт") 
			h2.text 
				span Первый 
				|Сантех-дискаунтер в Воронеже
			.group.group--bl
				.col.col-4-tl.t-center
					+I('smartbonus')
					h4 
						span.accent Смарт
						span Бонус
					p Экономте впрок! За каждую покупку вы получаете СмартБонусы 1 СмартБонус = 1р. Оплачивать СмартБонусами можно до 100% стоимости товара!
				.col.col-4-tl.t-center
					+I('wrecle')
					h4 
						span.accent Смарт
						span Сервис
					p  Бесплатная доставка*, установка, гарантийное и постгарантийное обслуживание 
				.col.col-4-tl.t-center 
					+I('sslsh') 
					h4 
						span.accent Смарт  
						span Покупка
					p Ваши риски равны нулю! Данные защищены протоколами безопасности, которые на сегодняшний день используются всеми ведущими инетрнет-магазинами.
	.bottomFeatures__home
		+LEVEL-inner()
			strong Будте в курсе последних акций и распродаж. Подпишитесь!
			+C-subscribeSts()
		
		
		
		
		
		
		
mixin breadcrumbs()
	.breadCrumb__content(data-qcontent='module__breadcrumbs')
		nav.breadCrumb.visible-l
			a(href='/').breadcrumb__section.breadCrumb__section--current 1
			-var page1 = 10
			+loop(7)
				a(href='/').not.breadcrumb__section #{page1 +=1}
			a(href='/').breadcrumb__section.breadCrumb__section--all Все 
				
mixin MODULE-cart()
	<!-- split modules/cart -->
	-var empty = false
	if(empty)
		button.cart__content(data-qcontent='module__cart')
			span.cart__icon
				+I('cart-s','topBar')
			span Корзина
	-else
		button.cart__content(data-qcontent='module__cart')
			span.cart__icon
				+I('cart-s','topBar')
			span.cart__count 2    
			span.cart__summ на 100 000р
mixin MODULE-cartPage()
	<!-- split modules/cartPage -->
	.cartPage__content(data-qcontent='module__cartPage')
		.cartPage
			.group.group--md
				.col.col-9-tl
					+MODULE-cartProduct()
					+MODULE-cartProduct()
					+MODULE-cartProduct()
					+MODULE-cartProduct()
				.col.col-3-tl
					.cartPage__cartCheck
						+In-cuponInput('cupon')
						h5.cartPage__summtitle Итого:
						span.cartPage__summ 113 400 Руб.
						+B-toOrder('Оформить заказ','makeOrder')
						+A-actionLink('Вернуться к покупкам','','returnToBuy icon-to-left')
					
mixin MODULE-cartProduct()
	<!-- split modules/cartProduct -->
	.cartProduct__content(data-qcontent='module__cartProduct')
		+C-productInline(productInline1,'cart')
			.productInline__section.productInline__section--del 
			
mixin MODULE-catalog()
	if(page.slug == 'main')
		-var classN = 'catalog__by--hovered'
	else 
		-var classN = ''
		
	<!-- split modules/catalog -->  
	ul.catalog__content(data-qcontent='module__catalog')    
		li.catalog__by.catalog__by--category.clearfix.col.showFrom-tl#js-CatChoiser(class=' ' + classN)
			+I('menu','categories') 
			span.catalog__elemTitle Кaталог  
			+I('to-right','to-right f-right')
		li.catalog__mobile.col.hideFrom-tl#mm-button
			+I('menu','categories')  
			span.catalog__elemTitle Кaталог        
		li.catalog__by.catalog__by--brand.col.showFrom-tl.clearfix#js-BrandChoiser
			+I('star1','categories ')
			span.catalog__elemTitle Бренды    
			+I('to-right','to-right f-right')
		li.catalog__by-m.clearfix.col.hideFrom-tl#js-BrandChoiser-m
			+I('star1','categories ')
			span.catalog__elemTitle Бренды
			+I('to-right','to-right f-right')
  
mixin MODULE-catalogList(param)
	if(page.slug=='main' && param =='main')
		-var classN = 'catalogList--onMain'
		<!-- split modules/catalogList -->
					+MODULE-mobileMenu()  
					.catalogList__content(data-qcontent='module__catalogList' class=''+classN)
						nav(role='catalog').catalogList__categoryNavigation
							ul.catalogList__categoryList(class=''+classN)#js_categories
									li
										a.catalogList__categoryItem#js_showSub__1(href="/")
											+I('bathm','asset')      
											span Ванны  
											+I('to-right','catalog') 
									li.catalogList__categoryItem#js_showSub__2
										+I('mebelm','asset')   
										span Мебель для ванной
										+I('to-right','catalog')  
									li.catalogList__categoryItem#js_showSub__3   
										+I('smes','asset')           
										span Смесители
										+I('to-right','catalog')
									li.catalogList__categoryItem#js_showSub__4
										+I('dkm','asset')  
										span Душ Кабины и уголки
										+I('to-right','catalog')
									li.catalogList__categoryItem#js_showSub__5
										+I('ogpo','asset')          
										span Ограждения, поддоны
										+I('to-right','catalog')
									li.catalogList__categoryItem#js_showSub__6
										+I('showerm','asset')            
										span Все для душа 
										+I('to-right','catalog')
									li.catalogList__categoryItem#js_showSub__7 
										+I('toiletm','asset')           
										span Унитазы и Биде 
										+I('to-right','catalog')
									li.catalogList__categoryItem#js_showSub__8  
										+I('susm2','asset')           
										span Полотенцесушители 
										+I('to-right','catalog')
									li.catalogList__categoryItem#js_showSub__9  
										+I('accm','asset')              
										span Аксессуары 
										+I('to-right','catalog')
									li.catalogList__categoryItem#js_showSub__3   
										+I('smes','asset')           
										span Смесители
										+I('to-right','catalog')
									li.catalogList__categoryItem#js_showSub__4
										+I('dkm','asset')  
										span Душ Кабины и уголки
										+I('to-right','catalog')
									li.catalogList__categoryItem#js_showSub__5
										+I('ogpo','asset')          
										span Ограждения, поддоны
										+I('to-right','catalog')
							ul.catalogList__categorySublist
								li.catalogList__SublistItem#js_sub__1
									ul.sub__list
										.group.group-md
											.col.col-4-tl
												li.sub__item
													+A-catalogLink('Акриловые ванны')
													ul.sub__subList
														li
															+A-catalogLink('Прямые ванны','','sub')
														li
															+A-catalogLink('Угловые ассиметричные ванны','','sub')
														li
															+A-catalogLink('Угловые симметричные ванны','','sub')
											.col.col-4-tl
												li.sub__item 
													+A-catalogLink('Чугунные ванны')
											.col.col-4-tl
												li.sub__item 
													+A-catalogLink('Стальные ванны')
								li.catalogList__SublistItem#js_sub__2 2
								li.catalogList__SublistItem#js_sub__3 3
								li.catalogList__SublistItem#js_sub__4 4
								li.catalogList__SublistItem#js_sub__5 5
								li.catalogList__SublistItem#js_sub__6 6
								li.catalogList__SublistItem#js_sub__7 7
								li.catalogList__SublistItem#js_sub__8 8
								li.catalogList__SublistItem#js_sub__9 9
						.catalogList__wrapper.catalogList__brands#js_brands
							nav(role='brands').catalogList__brandNavigation
								ul.catalogList__brandList.group.group--md
									+loop(5)
										li.catalogList__brandLitera.col.col-3-tl.col-6-m
											span A
											ul.catalogList__barandList
												li.catalogList__barandItem
															+A-catalogLink('ALPEN','','sub')
												li.catalogList__barandItem
															+A-catalogLink('Armodillo','','sub')
												li.catalogList__barandItem
															+A-catalogLink('Ananas','','sub')
												li.catalogList__barandItem
															+A-catalogLink('Aquatika','','sub')
										li.catalogList__brandLitera.col.col-3-tl.col-6-m 
											span B
											ul.catalogList__barandList     
												li.catalogList__barandItem
															+A-catalogLink('ALPEN','','sub')
												li.catalogList__barandItem
															+A-catalogLink('Armodillo','','sub')
												li.catalogList__barandItem
															+A-catalogLink('Ananas','','sub')
												li.catalogList__barandItem
															+A-catalogLink('Aquatika','','sub')
										li.catalogList__brandLitera.col.col-3-tl.col-6-m 
											span B
											ul.catalogList__barandList
												li.catalogList__barandItem
															+A-catalogLink('ALPEN','','sub')
												li.catalogList__barandItem
															+A-catalogLink('Armodillo','','sub')
												li.catalogList__barandItem
															+A-catalogLink('Ananas','','sub')
												li.catalogList__barandItem
															+A-catalogLink('Aquatika','','sub')
							
	else 
		if(page.slug != 'main')
			<!-- split modules/catalogList -->
			.catalogList__outerWrapper  
				+LEVEL-inner()
					.catalogList__content(data-qcontent='module__catalogList')
						nav(role='catalog').catalogList__categoryNavigation
							ul.catalogList__categoryList#js_categories
									li.catalogList__categoryItem#js_showSub__1     
										+I('bathm','asset')      
										span Ванны
										+I('to-right','catalog') 
									li.catalogList__categoryItem#js_showSub__2
										+I('mebelm','asset')   
										span Мебель для ванной
										+I('to-right','catalog')  
									li.catalogList__categoryItem#js_showSub__3   
										+I('smes','asset')           
										span Смесители
										+I('to-right','catalog')
									li.catalogList__categoryItem#js_showSub__4
										+I('dkm','asset')  
										span Душ Кабины и уголки
										+I('to-right','catalog')
									li.catalogList__categoryItem#js_showSub__5
										+I('ogpo','asset')          
										span Ограждения, поддоны
										+I('to-right','catalog')
									li.catalogList__categoryItem#js_showSub__6
										+I('showerm','asset')            
										span Все для душа 
										+I('to-right','catalog')
									li.catalogList__categoryItem#js_showSub__7 
										+I('toiletm','asset')           
										span Унитазы и Биде 
										+I('to-right','catalog')
									li.catalogList__categoryItem#js_showSub__8  
										+I('susm2','asset')           
										span Полотенцесушители 
										+I('to-right','catalog')
									li.catalogList__categoryItem#js_showSub__9  
										+I('accm','asset')              
										span Аксессуары 
										+I('to-right','catalog')
									li.catalogList__categoryItem#js_showSub__3   
										+I('smes','asset')           
										span Смесители
										+I('to-right','catalog')
									li.catalogList__categoryItem#js_showSub__4
										+I('dkm','asset')  
										span Душ Кабины и уголки  
										+I('to-right','catalog')
									li.catalogList__categoryItem#js_showSub__5
										+I('ogpo','asset')          
										span Ограждения, поддоны
										+I('to-right','catalog')
									li.catalogList__categoryItem#js_showSub__6
							ul.catalogList__categorySublist
								li.catalogList__SublistItem#js_sub__1 111   
								li.catalogList__SublistItem#js_sub__2 2
								li.catalogList__SublistItem#js_sub__3 3
								li.catalogList__SublistItem#js_sub__4 4
								li.catalogList__SublistItem#js_sub__5 5
								li.catalogList__SublistItem#js_sub__6 6
								li.catalogList__SublistItem#js_sub__7 7
								li.catalogList__SublistItem#js_sub__8 8
								li.catalogList__SublistItem#js_sub__9 9
						.catalogList__wrapper.catalogList__brands#js_brands
							nav(role='brands').catalogList__brandNavigation
								ul.catalogList__brandList.group.group--md
									+loop(5)
										li.catalogList__brandLitera.col.col-3-tl 
											span A
											ul.catalogList__barandList
												li.catalogList__barandItem
															+A-catalogLink('ALPEN','','sub')
												li.catalogList__barandItem
															+A-catalogLink('Armodillo','','sub')
												li.catalogList__barandItem
															+A-catalogLink('Ananas','','sub')
												li.catalogList__barandItem
															+A-catalogLink('Aquatika','','sub')
										li.catalogList__brandLitera.col.col-3-tl 
											span B
											ul.catalogList__barandList
												li.catalogList__barandItem
															+A-catalogLink('ALPEN','','sub')
												li.catalogList__barandItem
															+A-catalogLink('Armodillo','','sub')
												li.catalogList__barandItem
															+A-catalogLink('Ananas','','sub')
												li.catalogList__barandItem
															+A-catalogLink('Aquatika','','sub')
										li.catalogList__brandLitera.col.col-3-tl 
											span B
											ul.catalogList__barandList
												li.catalogList__barandItem
															+A-catalogLink('ALPEN','','sub')
												li.catalogList__barandItem
															+A-catalogLink('Armodillo','','sub')
												li.catalogList__barandItem
															+A-catalogLink('Ananas','','sub')
												li.catalogList__barandItem
															+A-catalogLink('Aquatika','','sub')
mixin MODULE-CENTURION()
	<!-- split modules/CENTURION -->
	.centurion(data-qcontent='module__CENTURION')
		.centurion__content
			form
				.position
					ul
						li
							label Брэнд:
								select
									option(value='a') 1111111
									option(value='d') 2111111
									option 3
						li
							label Имя позиции
								input(type='text')
						li
							label Регулярная цена
								input(type='text')
				.sites
					+loop(12)
						ul
							li
								h5 САйт
							li
								label Путь к позиции
									input(type='text')
mixin MODULE-catalogMain()
	<!-- split modules/catalogMain -->
	.catalogMain__content(data-qcontent='module__catalogMain')
		.catalogList__category.l_ib__c(class=' '+ classN)#js_categories
			nav(role='catalog').l_ib__e
				ul.catalogList__categoryList
						li.catalogList__categoryItem#js_showSub__1     
							+I('bathm','asset')      
							span Ванны
							+I('to-right','catalog') 
						li.catalogList__categoryItem#js_showSub__2
							+I('mebelm','asset')   
							span Мебель для ванной
							+I('to-right','catalog')  
						li.catalogList__categoryItem#js_showSub__3   
							+I('smes','asset')           
							span Смесители
							+I('to-right','catalog')
						li.catalogList__categoryItem#js_showSub__4
							+I('dkm','asset')  
							span Душ Кабины и уголки
							+I('to-right','catalog')
						li.catalogList__categoryItem#js_showSub__5
							+I('ogpo','asset')          
							span Ограждения, поддоны
							+I('to-right','catalog')
						li.catalogList__categoryItem#js_showSub__6
							+I('showerm','asset')            
							span Все для душа 
							+I('to-right','catalog')
						li.catalogList__categoryItem#js_showSub__7 
							+I('toiletm','asset')           
							span Унитазы и Биде 
							+I('to-right','catalog')
						li.catalogList__categoryItem#js_showSub__8  
							+I('susm2','asset')           
							span Полотенцесушители 
							+I('to-right','catalog')
						li.catalogList__categoryItem#js_showSub__9  
							+I('accm','asset')              
							span Аксессуары 
							+I('to-right','catalog')
						li.catalogList__categoryItem#js_showSub__3   
							+I('smes','asset')           
							span Смесители
							+I('to-right','catalog')
						li.catalogList__categoryItem#js_showSub__4
							+I('dkm','asset')  
							span Душ Кабины и уголки
							+I('to-right','catalog')
						li.catalogList__categoryItem#js_showSub__5
							+I('ogpo','asset')          
							span Ограждения, поддоны
							+I('to-right','catalog')
						li.catalogList__categoryItem#js_showSub__6
			ul.catalogList__categorySublist.l_ib__e
				li.catalogList__SublistItem#js_sub__1 1
				li.catalogList__SublistItem#js_sub__2 2
				li.catalogList__SublistItem#js_sub__3 3
				li.catalogList__SublistItem#js_sub__4 4
				li.catalogList__SublistItem#js_sub__5 5
				li.catalogList__SublistItem#js_sub__6 6
				li.catalogList__SublistItem#js_sub__7 7
				li.catalogList__SublistItem#js_sub__8 8
				li.catalogList__SublistItem#js_sub__9 9
mixin MODULE-centurioResult()
	<!-- split modules/centurioResult -->
	.centurioResult__content(data-qcontent='module__centurioResult')
		.centurioResult
			ul.brandList.group.group--el
				+loop(11)
					li.brandList__item.col.col-1-tp.push-1-tp WasserKraft
		.group.group--el
			ul.siteList.col.col-1-tp
				+loop(12)
					li.siteList__item Ulmart.ru-ruse
			+loop(11)
				ul.resultList.col.col-1-tp
					+loop(11)
						li.resultList__item Ulmart 
mixin confirmedOrderPage()
	<!-- split modules/confirmedOrderPage -->
	.confirmedOrderPage__content(data-qcontent='module__confirmedOrderPage')
		.confirmedOrderPage 
			span hello Dude!!!
mixin MODULE-deliverySection()
	<!-- split modules/deliverySection -->
	.deliverySection__content(data-qcontent='module__deliverySection')
		:php
			if( $empty ):
		if deliverySection.options.outStock == false 
			h5.deliverySection__title Доставка в город 
				a.geoTarget__link.js_modal_trigger(href='df' id = 'js_modal_trigger__geo') Воронеж:
			ul.deliverySection__type
				li.deliverySection__to
					h6.deliverySection__subHeader
						+I('flag')
						span Самовывоз из офиса!
					dl
						dt Стоимость:
						dd 
							span.free Бесплатно
					dl
						dt Когда: 
						dd  Уже сегодня до 18:00
					dl
						dt Адрес:
						dd
							ul
								li 
									a(href="/") гВоронеж ул Донбасская 21 
				li.deliverySection__to
					h6.deliverySection__subHeader  
						+I('p-marker')
						span Самовывоз из пункта выдачи
					dl
						dt Стоимость:
						dd 
							span.free Бесплатно
							
					dl
						dt Когда: 
						dd 1-2 дня
							
					dl
						dt Адреса:
						dd
							ul
								li 
									a(href="/") гВоронеж ул Донбасская 21
								li 
									a(href="/") г. Воронеж, ул. Ленинградская, д.55а
								li.deliverySection__more 
									+A-actionLink('еще 14')
				li.deliverySection__to
								h6.deliverySection__subHeader
									+I('truck-del')
									span  Курьерская доставка
								dl
									dt Стоимость: 
									dd 1700р
										
								dl
									dt Когда: 
									dd 
										span 1-2 дня 
		else
			p.deliverySection__outOfStock 
				b Интересуетесь данным товаром, но его нет в наличии?
				br
				span  Свяжитесь с нами по бесплатному номеру 
					b 8 800-500-13-84 
					| и назовите код товара. Наши менеджеры уточнят сроки доставки, актуальную цену или помогут подобрать аналог.
			:php
				endif
				
mixin MODULE-email()
	<!-- split modules/email -->
	table.outerTable
		tr
			td
				table.email__content(data-qcontent='module__email')
					th.email 
						img(src = "partner.santehsmart.ru/bitrix/templates/STS2/images/logo.jpg")
						span Новый заказ 234224 
					tbody
						tr
							td 
								h4 Уважаемый Тывавыа Сываываа ываывавыа выававы 
						tr
							td 
								p Ваш заказ номер - 00ЗИМ-01498. от 15.06.2018 14:57:45 принят. 
						tr
							td 
								p.email__main Стоимость заказа: 2 320 руб.
									br 
									
									|	Пункт выдачи: Донбасская 21
									
									br
									|Состав заказа:
									br
									|Сантек Бореаль унитаз подвесной (полипропилен) 1WH302206 - 1.00 шт x 2 320 руб. 
						// tr
						// 	td
						// 		p Вы можете следить за выполнением своего заказа (на какой стадии выполнения он находится), войдя в Ваш персональный раздел сайта Santehsmart. 
						// 			br
						// 			br
						// 			|Обратите внимание, что для входа в этот раздел Вам необходимо будет ввести логин и пароль пользователя сайта Santehsmart. 
						// 			br
						// 			br
						// 			|Для того, чтобы аннулировать заказ, воспользуйтесь функцией отмены заказа, которая доступна в Вашем персональном разделе сайта Santehsmart. 
						// 			br
						// 			br
						// 			|Пожалуйста, при обращении к администрации сайта Santehsmart ОБЯЗАТЕЛЬНО указывайте номер Вашего заказа - 1113042.
						// 			br
						// 			br
						// 			br
						// 			span Спасибо за покупку!  
						// 			br
						// 			br 
						tr(style='border-top:solid 3px #3d255b;')
							td 
								p С уважением, 
									br
									|администрация Интернет-магазина
									br
									|E-mail: sale@santehsmart.ru 

mixin MODULE-fastBuy()
	<!-- split modules/fastBuy -->
	.fastBuy__trigger#fastBuy__trigger(data-qcontent='module__fastBuy') trigger
	+LEVEL-modalWindow('fastBuy','Быстрый заказ без регистрации','fastBuy')
		.fastBuy__content(data-qcontent='module__fastBuy')
			-if(fastBuy.state=='static')
				form
					p.fastBuy__label
						strong Ванна акриловая BAS Сагра 160х100 левая (Код товара: 21060)
					.group.group--md
						.col.col-6-tl
							+In-textInput('name','','Ваше Имя:','classModifier')
							+In-textInput('city_name','Воронеж:','Город:','classModifier') 
							+In-textInput('name','XXX-XXX','Номер купона для скидки:','classModifier')
							+In-textInput('name','+7(xxx) xxx xx xx','Номер телефона:','classModifier')
						.col.col-6-tl
							.group.group--el
								.col.col-6-tl.fastBuy__price
									//+C-priceAndStock()
								.col.col-6-tl
									.fastBuy__prodImage
							.fastBuy__productChar
								//+MODULE-productChar() 
					+In-textArea('name','Комментарий:','Комментарий по желанию','classModifier')
					p.fastBuy__caution
						| Обращаем ваше внимание - заказывая без регистрации, вы не накапливаете бонусные баллы.
					.fastBuy__orderAction
						+B-toOrder('Заказать')
			-if(fastBuy.state=='onload')
				.fastBuy__loader
			-if(fastBuy.state=='success')
				article.fastBuy__success
					span.succes.icon-tick Заказ оформлен!
					p В ближайшее время с вами свяжется наш менеджер для подверждения заказа и уточнения сроков и способа доставки.
	p ///////////////////////////////////////////////////////////////
	.page__title Товар такойто
	.productInfo__priceStock 
	+MODULE-productChar()
	+C-priceAndStock()
	img.productImageSlider__image(src = 'https://www.santehsmart.ru/upload/iblock/5a6/5a6597f83386fe4358bf252bb9751574.png')
	if(fastBuy.state )	
mixin MODULE-featuresList()
	<!-- split modules/featuresList -->
	.featuresList__content(data-qcontent='module__featuresList')
		ul.featuresList
			li.featuresList__item.l_ib__e
				.featuresList__mark-ctn
					span.featuresList__mark 1
				+I('eshop','feature')
				span.featuresList__desc.l_ib__e Выбираете продукцию на сайте
				
			li.featuresList__item.l_ib__e
				.featuresList__mark-ctn
					span.featuresList__mark 2
				+I('truck','feature')
				span.featuresList__desc.l_ib__e Выбираете продукцию на сайте
			
			li.featuresList__item.l_ib__e
				.featuresList__mark-ctn
					span.featuresList__mark 3
				+I('box','feature')
				span.featuresList__desc.l_ib__e Выбираете продукцию на сайте
				
				
				
		
mixin MODULE-fgtr()
	<!-- split modules/fgtr -->
	.fgtr__content(data-qcontent='module__fgtr')
		.fgtr
mixin MODULE-flyPageFragment(data)
	<!-- split modules/flyPageFragment -->
	.flyPageFragment__content(data-qcontent='module__flyPageFragment')
		.flyPageFragment 
			h1=data.title 
			button.toOrder.active.notEdit Добавить в заявку 
			button.toOrder.succes.notEdit Get Element
			table.flyPageFragment__table
				tr.table_row
					td.fragmentTitle Артикул:
					td.sku 123243
				tr
					td.fragmentTitle МРЦ: 
					td.rrc_price 8900 Р
				tr
					td.fragmentTitle МОЦ:
					td.mop_price 6 100 Р
				tr
					td.fragmentTitle Доступно:
					td.stock 14  шт
mixin MODULE-geoTarget()
	<!-- split modules/geoTarget -->
	.geoTarget__content(data-qcontent='module__geoTarget')
		.geoTarget__city
			span.icon-placeholder
			a.geoTarget__link.js_modal_trigger(href='df' id = 'js_modal_trigger__geo') Воронеж
		.geoTarget__points
			span.geoTarget__pointsCount 3 
			a(href='fdgg').geoTarget__pointsDesc Пункта выдачи
mixin MODULE-IBGrid()
	<!-- split modules/IBGrid -->
	.IBGrid__content(data-qcontent='module__IBGrid')
		.group.group--el.group--v-el
			+loop(12) 
				.col.col-6-tp.hideFrom-tl   
					.testgrid 1      

mixin MODULE-layout()
	<!-- split modules/layout -->
	.layout__content(data-qcontent='module__layout')  
		.layout
mixin MODULE-innerCoupon(type)
	-if(type!='product')
		<!-- split modules/innerCoupon -->
		.innerCoupon.sm(data-qcontent='module__innerCoupon')
			.group.group--el
				.col.col-9-tl
					//.innerCoupon__subDesc 
						//span Только для Воронежа и Области!
					span.innerCoupon__value -10%  
					span.innerCoupon__desc  на  смесители по промо - коду: 
					span.innerCoupon__title 1378-2343
					//.succes 
						//span + Бесплатная доставка в черте города
				.col.col-3-tl 
					+C-countDown('innerCoupon','До коца акции осталось')
				#demo12
	-else
		.innerCoupon.xs.t-center(data-qcontent='module__innerCoupon')
			.group.group--el
				.col.t-center
					span.innerCoupon__value -10%  
					span.innerCoupon__desc дополнительно #[br] по промо - коду: 
					span.innerCoupon__title 1378-2343
				.col 
					+C-countDown('innerCoupon','До коца акции осталось')
				#demo12
		
mixin MODULE-mainInfo()
	<!-- split modules/mainInfo -->
	.mainInfo__content(data-qcontent='module__mainInfo')
		.group.group--md.group--va-middle
			.col.col-3-tl.showFrom-tl  
				.mainInfo__logo
					a(href="/")
						h1
							img(src="source/images/sts-logo.svg")  
					
				//	+logo-img('logo1.svg') 
			.col.col-2-tl.showFrom-tl
				.mainInfo__block.mainInfo__geotarget
					+MODULE-geoTarget() 
			.col.col-12-tp.hideFrom-tl
				.mainInfo__cartLogin--mobile.group.group-el.clearfix
					a#js-user-city
						+I('placeholderm','mobile placeholderm')
					a#js-user-login
						+I('user','mobile user')  
					span.callMobile#js-user-call
							+I('call','mobile call')
					.f-right
						span.searchMobile.js_modal_trigger#js_modal_trigger__searchm
							+I('searchm','mobile mobileSearch')
						a
							+I('cart','mobile')
			.col.col-8-tl.hideFrom-tl
				.mainInfo__logo--mobile 
					IMG(src="source/images/sts-logo.svg")
			.col.col-5-tl.showFrom-tl
				+MODULE-topFeatures()
			.col.col-2-tl.showFrom-tl
					.mainInfo__phone
						span.mainInfo__phone-number
							|+7(473) 300-36-85
						span.mainInfo__phone-time.icon-clock1
							| Ежедневно  с 9 до 19ч
							//| ПН-ПТ 9 - 19ч
mixin MODULE-mobileMenu(param)
	.mobileMenu
		.mobileMenu__content(data-qcontent='module__mobileMenu')
			.mobileMenu__wrapper.mobileMenu__category.l_ib__c(class=' '+ classN)#js_categories
				nav(role='catalog').mobileMenu___categoryNavigation.l_ib__e#mobileMenu
					input
					ul
						+loop(11)
							li
								span  Сантехника
								ul
									li
										span Ванны
										ul
											li
												a(href="/") Ванны
										
									li
										a(href="/") Кабины

mixin MODULE-mainSearch(data)
	<!-- split modules/mainSearch -->
	.mainSearch__content(data-qcontent='module__mainSearch')
		form.mainSearch__form 
			input.mainSearch__input(type='text',placeholder="Поиск среди 20 000 товаров")
			label.mainSearch__icon
				+I('search','mainSearch') 
				input.mainSearch__submit(type='submit' value="Искать")
		if( data=='fired')
			.mainSearch__result.clearfix
				+C-productInline(productInline1,'search')
				+C-productInline(productInline1,'search')
				+C-productInline(productInline1,'search')
				+C-productInline(productInline1,'search')

mixin MODULE-module()
	<!-- split modules/module -->
	.module__content(data-qcontent='module__module')
		.module
mixin MODULE-module1()
	<!-- split modules/module1 -->
	.module1__content(data-qcontent='module__module1')
		.module1 
mixin MODULE-noticeList()
	<!-- split modules/noticeList -->
	.noticeList
		ul.noticeList__content(data-qcontent='module__noticeList')   
			+loop(4)
				li.noticeList__element.noticeList__element--unread
					time.noticeList__publicTime 
						b 29.11.2017 11:18:56 
					h5.noticeList__elementHeader Тестовое уведомление
					p.noticeList__noticeContent.text Следует отметить, что повышение уровня гражданского сознания обеспечивает широкому кругу (специалистов) участие в формировании форм воздействия. Таким образом, дальнейшее развитие различных форм деятельности, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для поэтапного и последовательного развития общества. Независимые государства, превозмогая сложившуюся непростую экономическую ситуацию, объявлены нарушающими общечеловеческие нормы этики и морали.
mixin MODULE-onePageOrder()
	<!-- split modules/onePageOrder -->
	.onePageOrder__content(data-qcontent='module__onePageOrder')
		form.onePageOrder
			.group.group--md 
				.col.col-9-tl
					.onePageOrder__section
						h5.onePageOrder__header Укажите контактные данные
						.onePageOrder__inputGroup 
							label.onePageOrder__label  
								| Имя
								input.onePageOrder__input(data-validation="length" data-validation-length="min3"  data-validation-error-msg="Введите Имя" id="email" type='text' value=''  name="email")
							label.onePageOrder__label
								| Телефон
								input.onePageOrder__input(type='text' value=''  name="phone"  data-validation="custom" data-validation-regexp="^((8|\\+7)[\\- ]?)?(\\(?\\d{3}\\)?[\\- ]?)?[\\d\\- ]{7,10}$"  data-validation-error-msg="Введите корректный номер телефона" id="email")
							label.onePageOrder__label
								| E-mail   
								input.onePageOrder__input(data-validation="email" data-validation-error-msg="Введите корректный E-mail" type='text' value=''  name="mail")
					.onePageOrder__section.onePageOrder__section--widget
						h5.onePageOrder__header Выберите способ получения
						.group.onePageOrder__deliveryTabs
							.col.col-4-tp.col-6-m.onePageOrder__deliveryTab.notEdit.onePageOrder__deliveryTab--selected
								h6 Самовывоз
								p 1-2 дня, 345 р
							.col.col-4-tp.col-6-m.onePageOrder__deliveryTab.notEdit
								h6 Курьерская доставка
								p 1-2 дня, 345 р
						.group.onePageOrder__deliveryOptions 
							.col.col-12-tp.onePageOrder__deliveryOption 1
							.col.col-12-tp.onePageOrder__deliveryOption 
								.onePageOrder__inputGroup
									label.onePageOrder__label
										| Адрес доставки
									input.onePageOrder__input(data-validation="length" data-validation-length="min6"  data-validation-error-msg="Введите Адрес доставки" type='text' value=''  name="delivery" data-validation-skipped="1")
									label.onePageOrder__label
										| Дата доставки
									+In-select()
										option ПН. 2 ноября ( с 11 до 18ч )
										option ВТ. 3 ноября ( с 11 до 18ч )
										option СР. 4 ноября ( с 11 до 18ч )
										option ЧТ. 5 ноября ( с 11 до 18ч )
										option ПТ. 6 ноября ( с 11 до 18ч )
										option СБ. 7 ноября ( с 11 до 17ч )
								.onePageOrder__inputGroup
									label.onePageOrder__check(for='delTimeCheck') Доставка ко времени	-400р
										input.notEdit(type='checkbox' id='delTimeCheck')
										span.checkmark
									label.onePageOrder__label
									| Время
									input.onePageOrder__input(id="selectTime" disabled="disabled" type='text' value='' name="selectTime")
																									
					.onePageOrder__section
						h5.onePageOrder__header Выберите способ оплаты
						h6.onePageOrder__subHeader Вы всегда можете осмотреть товар перед оплатой 
						.onePageOrder__inputGroup
							+In-radioButton('payment','bankCard','true')
							label.onePageOrder__label--radio Онлайн оплата банковской картой
							br
							+In-radioButton('payment','cash')
							label.onePageOrder__label--radio Оплата при получении 
								br
								|(банковской картой или наличными)
					.onePageOrder__section
						h5.onePageOrder__header Вы можете оставить комментарий к заказу
						textarea(rows=6)
					.onePageOrder__submit
						button.toOrder.makeOrder Оформить заказ
						label.onePageOrder__check(for='confidential') Я согласен с 
							a(href='/') политикой конфиденциальности
							input.notEdit(type='checkbox' id='confidential' checked='checked')
							span.checkmark
					
					
					
					
					
					
					
					
					
					
					
					
				.col.col-3-tl
					
mixin MODULE-order()
	<!-- split modules/order -->
	.order__content(data-qcontent='module__order')
		.group.group--md
			.col.col-9-tl  
				ul.order__steps
					li.order__checkPoint.order__way.order__way--gone.order__checkPoint--gone
						.order__checkPointNum 
						span.order__checkPointTitle Тип плательщика
					li.order__checkPoint.order__way.order__checkPoint--active
						.order__checkPointNum 2
						span.order__checkPointTitle Способ доставки      
					li.order__checkPoint.order__way
						.order__checkPointNum 3
						span.order__checkPointTitle Способ оплаты
					li.order__checkPoint.order__way
						.order__checkPointNum 4
						span.order__checkPointTitle Контактные данные
					li.order__checkPoint
						.order__checkPointNum 5
						span.order__checkPointTitle Завершение покупки
				section.order__form.order__form--personal.clearfix
					.group.group--el
						.col.col-4-tp
							+In-textInput('txt','ФИО','ФИО')
						.col.col-4-tp
							+In-textInput('txt','Email','Email')
						.col.col-4-tp
							+In-textInput('txt','Номер телефона','Номер телефона')
						.col.col-4-tp
							+In-textInput('txt','Город','Город')
					+B-toOrder('Далее','icon-to-right')
				section.order__form.order__form--client.clearfix
					form
						.group.group--el 
							.col.col-6-tl
								+B-radio('Физическое лицо','','checked')
							.col.col-6-tl
								+B-radio('Юридическое лицо')
						+B-toOrder('Далее','icon-to-right')
				section.order__form.clearfix.order__form--delivery   
					form
						.group.group--el.underlined  
							.col.col-4-tl  
								+B-radio('Доставка до пункта выдачи ТК СДЭК','radio--selected trig_del_cont','checked')
									br
									span.deliveryCost='Cтоимость: 230 руб.'  
							.col.col-4-tl
								+B-radio('Забрать самостоятельно из офиса фирмы-партнера','trig_del_cont')
									br
									span.deliveryCost.deliveryCost--free='Cтоимость: Бесплатно'
							.col.col-4-tl
								+B-radio('ID_DELIVERY_ID_59','trig_del_cont')
									br
									span.deliveryCost='Cтоимость: 550 руб.'
					.order__points
						.group.group--el
							.col.col-4-tl
								.order__pointsList__ctn.delivery
									h5.order__pointsTitle Выберите пункт выдачи
									ul.order__pointsList
										li
											+B-radio('г. Воронеж, ул. Ленинградская, д.55а (ост. Род дом №2, ул. Ленинградская) (только мелкий габаритный груз)','radio--selected','true')
										li
											+B-radio('г. Воронеж, ул. Генерала Лизюкова, 17А, ТЦ «Калинка» (только мелкий габаритный груз)')
										li
											+B-radio('г. Воронеж, ул. Остужева 28 (только мелкий габаритный груз)')
										li
											+B-radio('г. Воронеж, ул. Пушкинская, 42 (только мелкий габаритный груз)')
										li
											+B-radio('г. Воронеж, ул.Ворошилова, 49а (только мелкий габаритный груз)')
							.col.col-8-tl
								.order__map
									iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Ao-BDfF8mwUhzu4w4BXJHX8ENv4xcrB0A&amp;source=constructor" width="100%" height="414" frameborder="0")
					.order__points
						.group.group--el
							.col.col-4-tl
								.order__pointsList__ctn.delivery
									h5.order__pointsTitle Выберите партнерский офис
									ul.order__pointsList
										li
											+B-radio('г. Воронеж, ул. Ленинградская, д.55а (ост. Род дом №2, ул. Ленинградская) (только мелкий габаритный груз)','radio--selected','true')
										li
											+B-radio('г. Воронеж, ул. Генерала Лизюкова, 17А, ТЦ «Калинка» (только мелкий габаритный груз)')
										li
											+B-radio('г. Воронеж, ул. Остужева 28 (только мелкий габаритный груз)')
										li
											+B-radio('г. Воронеж, ул. Пушкинская, 42 (только мелкий габаритный груз)')
										li
											+B-radio('г. Воронеж, ул.Ворошилова, 49а (только мелкий габаритный груз)')
							.col.col-8-tl
								.order__map
									iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Ao-BDfF8mwUhzu4w4BXJHX8ENv4xcrB0A&amp;source=constructor" width="100%" height="414" frameborder="0")
					.order__points
						.group.group--el
							.col.col-4-tp
								+In-textInput('txt','ФИО','ФИО')
							.col.col-4-tp
								+In-textInput('txt','Email','Email')
							.col.col-4-tp
								+In-textInput('txt','Номер телефона','Номер телефона')
							.col.col-4-tp
								+In-textInput('txt','Город','Город')

									
							
					+B-toOrder('Далее','icon-to-right')
			.col.col-12-tp
				section.order__form.clearfix.order__form--confirmed
					.order__checkPoint--gone
						.order__checkPointNum 
						h3.order__fsuccesTitle Заказ оформлен    
						p.order__fsuccesTitle.text Ваш заказ 
							span.order__number №1111519  
							| от 17.01.2018 15:48:54 успешно создан.
						p.text Вы можете следить за выполнением своего заказа в Персональном разделе сайта. Обратите внимание, что для входа в этот раздел вам необходимо будет ввести логин и пароль пользователя сайта.
				p.deliveryMapHint Выберите подходящий пункт Выдачи на карте 
					
							
			.col.col-3-tl 
				section.order__info  
					h5.order__infoTitle Состав заказа:
					span.order__infoItem Товаров: 1 шт
					span.order__infoItem На сумму: 123 000 р 
					span.order__infoItem Доставка: 1 000 р
					h6.order__infoSumm Итого: 124 000 р
					+B-button('Изменить cостав заказа','fastBuy')
			
						
						
						
						
						
						
			
mixin MODULE-pageBreadcrumbs()
	-if(page.slug!='main')
		<!-- split modules/pageBreadcrumbs -->
		.group.group-md
			.col.col-12-tp
				.pageBreadcrumbs__content(data-qcontent='module__pageBreadcrumbs')
						nav.pageBreadcrumbs
							ul.pageBreadcrumbs__list
								li.pageBreadcrumbs__item
									a Главная 
								li.pageBreadcrumbs__item.icon-to-right
									a Каталог
								li.pageBreadcrumbs__item.icon-to-right
									a Сантехника
								li.pageBreadcrumbs__item.icon-to-right  
									a Душевые кабины
mixin owlSlider()
	<!-- split modules/owlSlider -->
	.owlSlider(data-qcontent='module__owlSlider')
		.ove-mainSlider.owl-carousel
				img(src='/source/images/slider/SL1.png')
				img(src='/source/images/slider/SL2.png')
				img(src='/source/images/slider/SL3.png')
	.sliderTitles
		ul.sliderTitles__list.group#js_sliderTitles
				li.sliderTitles__item.active.col.col-4-tl.col-4-m
					+I('discount','sliderTitle ib')
					h6.sliderTitles__title.ib Супер акция на ванны Монтерей1
				li.sliderTitles__item.col.col-4-tl.col-4-m
					+I('new1','sliderTitle ib')
					h6.sliderTitles__title.ib Супер акция на ванны Монтерей2
				li.sliderTitles__item.col.col-4-tl.col-4-m
					+I('new1','sliderTitle ib')
					h6.sliderTitles__title.ib Супер акция на ванны Монтерей3  
mixin MODULE-personalSection()
	<!-- split modules/personalSection -->
	.personalSection__content(data-qcontent='module__personalSection')
		.personalSection
			.group
				.col.col-2-tl
					a.personalSection__element
						span Текущие заказы
				.col.col-2-tl
					a.personalSection__element
						span Личный счет
				.col.col-2-tl
					a.personalSection__element 
						span Личные данные 
				.col.col-2-tl
					a.personalSection__element История заказов
				.col.col-2-tl
					a.personalSection__element Корзина
				.col.col-2-tl
					a.personalSection__element Обратная связь
mixin MODULE-productCatInline(data)
	<!-- split modules/productCatInline -->
	.productCatInline__content(data-qcontent='module__productCatInline')
		.productCatInline
			+C-productInline(data,'cat')
mixin MODULE-productChar()
	<!-- split modules/productChar -->
	.productChar__content(data-qcontent='module__productChar')
		h5.productChar__title Основные Характеристики:
		dl.productChar
			.productChar__terminDesc
				dt Заводской артикул:
				dd LE15	
			.productChar__terminDesc
				dt Производитель:
				dd РМС	
			.productChar__terminDesc
				dt Материал:
				dd Пластик
			.productChar__terminDesc
				dt Гарантия:
				dd год	
			.productChar__terminDesc
				dt Страна-производитель:
				dd Россия
mixin MODULE-productCol(data)
	<!-- split modules/productCol -->
		li.productCol__content(data-qcontent='module__productCol')  
			.productCol__card 
				span.productSection__subTitle='Код: '
				span.productCol__sku=data.sku
				-if(data.new)
					+B-productBadge('Новинка','new') 
				-if(data.sale)
					+B-productBadge('Акция','discount')
				-if(data.hit)
					+B-productBadge('Хит продаж','hit') 
				a.productCol__link(href="#")
					.productCol__img 
					h6.productCol__name=data.title
					-if(data.sale)
						+C-priceAndStock('part')   
					-else
						+C-priceAndStock()
					-if(data.opt)
						span.productCol__stock.f-right.icon-tick Доступно:#[br]#{data.stock} из 223
							//span.productCol__stock--last Скоро закончится
				//label.productInline__quantityLabel.showFrom-d   
					input.productInline__quantitySelector(type=text value='1'  size='2' )
					.productInline__quantityButton.productInline__quantityButton--minus
					.productInline__quantityButton.productInline__quantityButton--plus
				+B-toOrder('В корзину')
mixin MODULE-productImageSlider()
	<!-- split modules/productImageSlider -->
	.productImageSlider.productImageSlider__content(data-qcontent='module__productImageSlider')
		.productImageSlider__mainCarousel#js-productImageSlider
			ul.productImageSlider__imageList.owl-carousel
				+loop(2)
						img.productImageSlider__image(src='https://ove-cfo.ru/upload/iblock/da7/da764b5e04732093b812064f137d7b92.jpg')
						img.productImageSlider__image(src='https://santehsmart.ru/upload/iblock/dc6/dc63e36b2080c2a4cc34950482a0b7d5.png')
						img.productImageSlider__image(src='https://santehsmart.ru/upload/iblock/563/563c31fc3c70a30ce51f608728a60eea.jpg')
	.productImageSlider__fullWindow
	
		+I('close','slider-close','js-slider-close')
		
		ul.productImageSlider__imageListFull.owl-carousel  
			+loop(2)
				img.productImageSlider__image(src='https://ove-cfo.ru/upload/iblock/44d/44d26668abf8db8ad511e0e4aba9c374.jpg')
				img.productImageSlider__image(src='https://santehsmart.ru/upload/iblock/dc6/dc63e36b2080c2a4cc34950482a0b7d5.png')
				img.productImageSlider__image(src='https://santehsmart.ru/upload/iblock/563/563c31fc3c70a30ce51f608728a60eea.jpg')

mixin MODULE-reactTest()
	<!-- split modules/reactTest -->
	.reactTest__content(data-qcontent='module__reactTest')
		#reactTest1
mixin MODULE-registerForm()
	<!-- split modules/registerForm -->
	.registerForm__content(data-qcontent='module__registerForm')
		.registerForm
			|Hey 
mixin MODULE-settler()
	<!-- split modules/settler -->
	link(href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet")
	.wrapper
		.settler
			.settler__header(data-qcontent='module__settler')
				img.settler__logo(src="images/ovelogo.png")
				h1 Условия участия в акции 
					span НОВОСЕЛ 
			.settler__block.settler__block--up
				ul.settler__ruleList
					li
						
						span.settler__ruleText
							strong Участником акции "Новосел" становится покупатель при условии:
							br
							|a) после предъявления одного из документов, подтверждающих	факт приобретения недвижимости.
							br
							| б) при единоразовой покупке на сумму от 50000 руб
					li
						
						span.settler__ruleText.n2  Покупатель имеет статус «Новосела» в течение 3-х лет с момента 
								|получения документов на недвижимость.
					li
						 
						span.settler__ruleText.n3  Покупатель-новосел получает индивидуальную дисконтную карту.
					li
						
						span.settler__ruleText.n4   Скидки по дисконтной карте «Новосел» 
								|не распространяются на услуги и товары, участвующиe в какой-либо другой акции.
				.settler__person
					img(src="images/MZ11.png")
				.arrow--arrow_settler
			.settler__block.settler__block--down
				.settler__person.settler__person--gz
					img(src="images/GZ11.png")
				ul.settler__ruleList
					li
						span.settler__ruleText.n5 Для участия в акции Покупатель обращается к администратору компании «Окно в Европу».
					li
						span.settler__ruleText.n6 Администрация оставляет за собой право изменить условия или приостановить действие данной акции в любой момент без объяснения причин							
				p.settler_to_action
					|Ознакомтесь с нашим ассортиментом в 
					|интернет магазине или торопитесь к нам 
					|по адрессу ул Донбасская 23 территория ЕЦ
					|ЯРМАРКА
				+B-toOrder('Посетить нас','newSetterAction')
				+B-toOrder('Перейти в интернет-магазин','newSetterAction')
mixin MODULE-shipmentDocument()
	<!-- split modules/shipmentDocument -->
	.shipmentDocument__content(data-qcontent='module__shipmentDocument') 
		table.shipmentDocument
			caption(align ='left') ОТГРУЗКА N 23345
				img.card(src="source/images/c_card.svg" style="width: 5%")
				img.logo(src="source/images/sts-logo.svg") 
			tbody
				tr 
					th Отправитель
					th Информация об отправлении
				tr
					td 
						h6 Компания:  
						span "СантехСмарт", OOO; г. Воронеж 
					td(rowspan="3" valign='top')
						h6 Накладная к заказу:
						span N РИМ-983
						br
						h6 Дата отгрузки:
						span 30.05.18
						br
						h6 Количество мест:
						span 1
						br
						.counterD 1/1
						h2.city.t-center.ib ЛИПЕЦК 
				tr
					th ПОЛУЧАТЕЛЬ
				tr
					td 
						h6 ФИО:
						span Иванов Иван Петрович 
						br
						h6 Телефон: 
						span 8902765266
						br
						h6 ПВЗ:
						span г ЛИПЕЦК Ул Заречная 77 2ф ( OOO Строймаркет) 
	
		table.shipmentDocument.shipmentDocument__items
			tbody
				tr.docItemListTitle
					th №
					th Наименование товара
					th К оплате: 
					th Кол во
				+loop(8)
					tr.shipmentDocument__item
						td(align='center') 1
						td Потлотенце сушитель фиолетовый без ничего с повреждениями такой привезли
						td(align='center') 139 000р
						td(align='center') 1
				tr.docItemListTitle__summary
					td(colspan='4')
						h5 Итого к оплате 34 000Р
				tr
					td(colspan='4')
						h5.signature Сотрудник___________________
						h5.signature.f-right.t-center Покупатель___________________
					
						
	table.ordersSummary
		caption 
			h4 Заказы на пункт выдачи:
		tbody
			tr.ordersSummary__header
				th №
				th Дата
				th Сумма заказа 
				th Приходная
				th Коммисия
				th Итоговая закупка
				th Профит
				th Статус
			+loop(4)
				tr.ordersSummary__info
					td РИМ-5345454
					td 23.34.17
					td.primary 19454
					td 17669
					td 5%
					td.accent 18001
					td.succes 1470
					td ожидает выдачи
	table.ordersSummary
		caption 
			h4 Статус взаиморсчетов
		tbody
			tr.ordersSummary__header
				th Общий Статус
				th Из них по Платформе
			tr
				td.t-centr - 1 290 000р
				td.t-center 36 000р
				td 
					zopa
					enotzaglot
						seriy
							sprite
								| sptf_024_07_bober
							

mixin MODULE-sts-coupon()
	<!-- split modules/sts-coupon -->
	.sts-coupon__content(data-qcontent='module__sts-coupon')
		.sts-coupon
mixin MODULE-support()
	<!-- split modules/support -->
	.support__content(data-qcontent='module__support')
		section.support__section
			h3.support__sectionTitle Ваш менеджер
		section.support__section
			h3.support__sectionTitle Тех поддержка
		section.support__section
			h3.support__sectionTitle Настройки
mixin MODULE-swe()
	<!-- split modules/swe -->
	.swe__content(data-qcontent='module__swe')
		.swe
mixin MODULE-tableP()
	<!-- split modules/tableP -->
	.tableP__content(data-qcontent='module__tableP')
		.tableP
mixin MODULE-topBar()
	<!-- split modules/topBar -->
	.topBar__content(data-qcontent='module__topBar')
		.group.group--md.group--v-md.group--va-middle.topBar    
				.col.col-3-tl.col-12-m
					.topBar__catalog 
						+MODULE-catalog() 
				.col.col-6-tl.showFrom-tl
					.topBar__search
						+MODULE-mainSearch('')   
				.col.col-3-tl.showFrom-tl.no-gutter-l 
					.topBar__cart
						+B-compare()
						+MODULE-cart()
mixin MODULE-topFeatures(modificier)
	<!-- split modules/topFeatures -->
	if(modificier)
		-var className ='topFeatures--'+modificier
	else
		-var className = ''
	.topFeatures__content(data-qcontent='module__topFeatures' class=''+className)
		span.topFeatures__element  
			+I('housePin')
			span.topFeatures__title Пункты выдачи в 170q городах.
		span.topFeatures__element
			+I('box','boxTop')
			span.topFeatures__title Оплачивайте заказы после проверки.  
mixin MODULE-topMenu()
	<!-- split modules/topMenu -->
	.group.group--md
		.col.col-16-tl.showFrom-tl
			.topMenu__content(data-qcontent='module__topMenu')
				nav.topMenu
					ul.topMenu__list
						li.topMenu__element.popup__trigger
							+A-material('Розничным Клиентам')
							+LEVEL-popup()
								ul.popup__menu
									li.popup__menuItem
										+A-material('Оплата и доставка')
									li.popup__menuItem
										+A-material('Возврат и обмен')
									li.popup__menuItem
										+A-material('Оплата и доставка')
									li.popup__menuItem
										+A-material('Возврат и обмен')
									li.popup__menuItem
										+A-material('Оплата и доставка')
									li.popup__menuItem
										+A-material('Возврат и обмен')
						li.topMenu__element.popup__trigger
							+A-material('Оптовым Клиентам')
							+LEVEL-popup()
								ul
									li 3
									li 4
						li.topMenu__element
							+A-material('Контакты')
						+freeDelSticker('truck-del','Бесплатная доставка до пункта выдачи')
						li.topMenu__element.topMenu__element--login
							+A-actionLink('Вход','','login js_modal_trigger', 'js_modal_trigger__login','icon-login')
							+A-actionLink('Регистрация','','signUp js_modal_trigger','js_modal_trigger__signUp')
mixin MODULE-vipChallenge()
	<!-- split modules/vipChallenge -->
	.vipChallenge__content(data-qcontent='module__vipChallenge')
		.vipChallenge
			.vip-logo
			.vip-title DESIGN BATTLE
			p dsddfsdfdsfd
			h1 Регистрация участника
			form
				label Фамилия:
					input(type='text')
				label Имя:
					input(type='text')
				label Отчество:
					input(type='text')
				label Номер телефона:
					input(type='text')
				label Эл. почта: 
					input(type='text')
				input(type='submit')
mixin LEVEL-cartProduct(data)
	.cartProduct
		.cartProduct__content(class = 'cartProduct__content'+ className data-qcontent="level__cartProduct")

mixin LEVEL-level1(data)
	.level1
		.level1__content(class = 'level1__content'+ className data-qcontent="level__level1")
			h2.level1__title=title
			if block
				block
mixin LEVEL-level(title,className)
	-if (!className) className =''
	.level__content(class = 'level__content'+ className data-qcontent="level__level")
		h2.level__title=title
		block level
mixin LEVEL-inner(data)
	.level__inner
		.container
			if block
				block
mixin LEVEL-mainPageSection(title)
	section.mainPageSection
		.mainPageSection__content(class = 'mainPageSection__content'+ className data-qcontent="level__mainPageSection")
			h2.mainPageSection__title=title
			if block
				block
mixin LEVEL-level2(title,data)
	.level2
		.level2__content(class = 'level2__content'+ className data-qcontent="level__level2")
			h2.level2__title=data.title.ZOPA
			if block
				block
mixin LEVEL-modalWindow(id, title, className)
	-if(!className) className = ''
	-else className= 'modalWindow--'+className
	.modalWindow.overlay.modalWindow--hide(id = 'js_modall__'+id class=''+className)
		.modalWindow__content(class = 'modalWindow__content' data-qcontent="level__modalWindow")
			a.modalWindow__close
				+I('close','close')
			h3.modalWindow__title=title  
			.modalWindow__body
				if block
					block       
mixin LEVEL-newtest(data)
	.newtest
		.newtest__content(class = 'newtest__content'+ className data-qcontent="level__newtest")
			h2.newtest__title=title
			if block
				block
mixin LEVEL-orderPage(title,className)
	-if (!className) className =''
	-var link = " <a href='/'>N 1231238</a>"
	-var link1 = " <a href='/'>личном кабинетеQ</a>"
	-var link2 = " <a href='/'>Иванов Иван.</a>"
	section.orderPage__content.holderjs(class = 'orderPage__content'+ className data-qcontent="level__orderPage")
		h1.orderPage__title=title
		.newClass Hello  
		+holder('page__loader','100px100',colors.primary)
		+loop(5)
			+holder('page__loader','100px100')  
		.buttonWrapper
			+B-b1('hello')
		.buttonWrapper
			+B-b1('hello')
		p.orderPage__mainMessage.text
			| Ваша заявка
			|  !{link} s  
			| принята на обработку!!!    
		ul.orderPage__subMess
			li В настоящий момент заявка ожидаетd подтверждения м    енеджером.
			li Ваш ответственный менеджер !{link2} автоматически оповещен.
			li Отслеживать статус заявки вы можете в !{link1}.
			li Электронная копия заявки отправлена на указанный вами em.
			
		.orderPage__actions
			a(href='/') &larr; В личный Кабинет!. 
			br
			a(href='/') &larr; На главнуюa!.
		if block
			block
			
		
mixin LEVEL-outer(data)
	.outer
		.outer__content(class = 'outer__content'+ className data-qcontent="level__outer")
			if block    
				block        
mixin LEVEL-productInfo(data)
	.productInfo
		.productInfo__content.block--inner(class = 'productInfo__content'+ className data-qcontent="level__productInfo")
			.productMain
				.group.group--md
					.col.col-5-tl
						+MODULE-productImageSlider()
					.col.col-3-tl.col-6-tp
						.productInfo__section
							+MODULE-innerCoupon('product')
							+B-productBadge('Рекомендуем','recommending','like')  
							.productInfo__priceStock
								+C-priceAndStock('part')
							+C-smartBonus()
							+B-toOrder('В корзину')
							+B-button('Оформить без регистрации','fastBuy')
							+MODULE-productChar()
					.col.col-4-tl.col-6-tp
						.productInfo__section.productInfo__section--delivery
							+MODULE-deliverySection()
						
			.productLogo
				img(src='https://santehsmart.ru/upload/resize_cache/uf/663/120_40_1/663573ea5278ca044fad90b0a4f2346d.png')
//
mixin LEVEL-productSection(title,className)
	.productSection__content(data-qcontent="level__productSection")
		header.productSection__header.clearfix
			.productSection__pager.f-left 
				//span.productSection__subTitle Страницы:
				+breadcrumbs()
			.productSection__filter.f-left   
				span.productSection__subTitle
					+I('sort','sort')
				a.productSection__sortBy.productSection__sortBy--selected Цене
				| |
				a.productSection__sortBy Производителю
			.productSection__layoutChoiser.f-right
				span.productSection__subTitle Вид каталога:
				a(href='/')
					+I('layout','productsLayout icon--productsLayout--selected')
				a(href='/')
					+I('layout1','productsLayout') 
		if block
			block
mixin LEVEL-page(title)
		.page(class = 'page--'+page.slug +' page--'+page.className)
			.page__content(class = 'page__content'+ className data-qcontent="level__page")
				-if(page.slug != 'main')
					.group
						.col.col-12-tl
							h1.page__title=title        
				if block
					block
mixin LEVEL-popup(data)
	.popup__angle
		+I('to-right','popup')
	.popup
		.popup__content(class = 'popup__content'+ className data-qcontent="level__popup")
			.popup__body
				if block
					block
mixin LEVEL-showCasePage(data)
	-if (!className) className =''
	.container
		section.showCasePage__content(class = 'showCasePage__content '+ data.class data-qcontent="level__showCasePage" data-self=""+data.self)
			h1.showCasePage__title=data.title
			h4.showCasePage__subtitle.text Icons:  
			+I('box')
			+I('search')
			+I('eshop')
			+I('cart','cart_Main')
			+I('cart','cart_btn')
			+I('truck')
			+I('arrow')  
			+I('marker')
			+I('clock')
			+I('sale') 
			+I('star')
			+I('toilet')
			+I('bath')
			h4.showCasePage__subtitle.text Headings 
			h1.showCasePage__subtitle.showCasePage__subtitle--red=data.idName
			h2 Header
			h3 Headera
			h4 Header
			h5 Header
			h6 Header
			h4.showCasePage__subtitle.text Paragraph:
			p По своей сути рыбатекст является альтернативой традиционноaму lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
			if block
				block
mixin LEVEL-starter(title,className)
	-if (!className) className =''
	.starter__content(class = 'starter__content'+ className data-qcontent="level__starter")
		h5.starter__title=title
		if block
			block
mixin LEVEL-testOfSergConnectingSupport(title,className)
	-if (!className) className =''
	.testOfSergConnectingSupport__content(class = 'testOfSergConnectingSupport__content'+ className data-qcontent="level__testOfSergConnectingSupport")
		h2.testOfSergConnectingSupport__title=title
		block testOfSergConnectingSupport
mixin LEVEL-showcase(title,className)
	-if (!className) className =''
	section.showcase__content(class = 'showcase__content '+ className data-qcontent="level__showcase")
		h1.showcase__title=title
		.container
			p.showcase__subtytle.text Hello its Showcase Content
			+holder('page__loader','100px300',colors.primary)
			if block
				block
mixin LEVEL-topdashBoard(data)
	-if (!className) className =''
	.topdashBoard__content(class = 'topdashBoard__content'+ className data-qcontent="level__topdashBoard")
		ul.topdashBoard__list.group.group--el    
			+dashBoardElement('tie','Личный Кабинет   ','dashBoardElement')
			+dashBoardElement('notification','Уведомления','dashBoardElement dashBoardElement--notice','noticer')
			+dashBoardElement('help','Помощь и настройки','dashBoardElement')
			+dashBoardElement('ptnMap','Пункты выдачи','dashBoardElement')
			// +dashBoardElement('orderlist','Заявка:','dashBoardElement','orderList')  
			+dashBoardElement('help','Режим Торгового Зала','dashBoardElement','switcher') 
	if block
		block 
mixin LEVEL-subProductInfo(data)
	.subProductInfo
		.subProductInfo__content.block--inner(class = 'subProductInfo__content'+ className data-qcontent="level__subProductInfo")
			.subProductInfo__tabber
				ul.subProductInfo__tabber-list
					li.subProductInfo__tabber-item.subProductInfo__tabber-item--active
						span Дополнительное Оборудование
					li.subProductInfo__tabber-item
						span Характеристики и Описание
					li.subProductInfo__tabber-item.ibb
						span Товары из этой серии коллекции
					li.subProductInfo__tabber-item.ibb
						span Пункты выдачи в Воронеже
				.subProductInfo__contents
					.subProductInfo__tabContent 1
						+MODULE-additionalProducts()
					.subProductInfo__tabContent 2
					.subProductInfo__tabContent 3
					.subProductInfo__tabContent 4
mixin C-countDown(ids,header,time)
	.countDown
		h6.countDown__header=header+':'
		.countDown__ctn(id=''+'countDown'+ids class=' '+'countDown--'+ids data-qcontent='component__countDown')
		script.
			// $(Document).ready(function(){
			// $('#{'#countDown'+ids}')
			// .countdown("2018/03/25", function(event) {
			// $(this).text(
			// event.strftime('%D Дня %Hч: %Mм: %Sс')
			// );
			// });
			// });
	
 

mixin C-deliveryArticle()
	.deliveryArticle(data-qcontent='component__deliveryArticle')
		.group.group--bl.text
			.col.col-4-tl 
				.ta
					+I('flag') 
				h5 
					span 1
					|Самовывоз из нашего офиса #[br] или склада
				p Самый #[strong быстрый и экономичный] способ получения заказа - это самовывоз  из #[strong нашего офиса, склада] или   офиса партнерской компании.
				p
					h6 Самовывоз из офиса
					| После подтверждения заказа  мы  проводим его #[strong предпродажную проверку] на удаленном  складе и   доставляем в наш офис.
					| Для самовывоза из офиса в день заказа  заявка должна быть оформлена  в будние дни не позднее #[strong 13:00]. В других случаях заказ будет доступен для выдачи с #[strong 9:00] следующего дня.
				p
					h6 Самовывоз со склада
					| Самовывоз со склада доступен #[strong сразу после подтверждения заявки]  менеджером и
					|  ограничивается лишь необходимостью посетить наш офис для оформления документа продажи. #[br] Время работы склада: пн-вск, с 9 до 18ч.
				b При  получении в офисе #[br] доступны следующие виды оплаты:
				ul
					li Оплата картой на сайте 
					li Оплата банковским переводом
					li Оплата наличным рассчетом в офисе
					li Оплата по карте в офисе
			.col.col-4-tl
				.ta
					+I('marker')
				h5 
					span 2
					|Самовывоз из пункта выдачи заказов ТК СДЭК
				p  #[strong Более 1100 пунктов самовывоза по всей России.]
				p 
					h6 Как выбрать пункт выдачи?
					| При оформлении заказа, на этапе выбора доставки выберите "Самовывоз из пункта выдачи"- вам откроется карта; Кликните по наиболее удобному для вас ПВЗ. Сроки и стоимость доставки также указаны на карточке товара.
					h6 Как я узнаю что мой заказ пришел в ПВЗ?
					|  Вам будет выслано SMS уведомление 
					h6 Сколько заказ может храниться в ПВЗ? 
					| Не более 7 календарных дней. При необходимости увеличить срок свяжитесь с нами.	
					h6 Могу ли я сначала осмотреть заказ, нарушив транспортную упаковку?
					| Да, вы можете сначала убедиться в целостности посылки, отсутствии дефектов у товара и его комплектности прежде чем оплачивать заказ
					h6 Могу ли я отказаться от части заказа?
					| Да, частичный забор и оплата заказа предусмотрены.
				b При  получении в пункте выдачи #[br] доступны следующие виды оплаты:
				ul
					li Оплата картой на сайте.
					li Оплата банковским переводом.
					li Оплата наличным рассчетом в пункте выдачи.
			.col.col-4-tl
				.ta
					+I('truck-del') 
				h5
					span 3
					|Доставка курьером до двери дома/офиса
				p Курьерская доставка заказов осуществляется как собственной службой доставки, так и транспортной компанией СДЭК. Стоимость доставки и примерные сроки опубликованы в карточках товара, а также формируются автоматически при выборе способа получения заказ "Курьрская доставка" во время оформления заказа.
					|#[br] Точный срок и время доставки с вами согласует наш менеджер при подтверждении заказа. 
				p Курьерская доставка приобретенного товара производится до подъезда, дачи, коттеджа только при наличии подъездных путей. 
					| Подъем товара является дополнительной услугой и оговаривается с нашим менеджером при подтверждении заказа. 
				b При  получении в пункте выдачи #[br] доступны следующие виды оплаты:
				ul
					li Оплата картой на сайте.
					li Оплата банковским переводом.
					li Оплата наличным рассчетом курьеру.
mixin C-coupon(type)
	-if(type == 'bottom')
		.coupon.bounce.animated(data-qcontent='component__coupon' class = ' coupon--'+type )
			span.coupon__closer 
				+I('close','couponClose') 
			+I('coupon','couponStar')
			h6.coupon__title  
				span.coupon__value 10%  
				| ПРОМОКОД
			+I('coupon','couponStar')  
			.coupon__content 
				p.text  До 12 марта! #[br] Дополнительная праздничная скидка #[br]
					span.coupon__value 10% по промокоду: #[br]
					span.coupon__id 2546-5367#[br]
			+C-countDown('coupon--bottom','До конца действия акции осталось')
			p.text.coupon__advices 
				| Воспользуйтесь купоном, введя его номер в соответствующее поле на странице корзины.
				
			p.coupon__ps
				
				
			
mixin C-footer()
	.footer__content(data-qcontent='component__footer')
		.footer__section
			.container
				.footer__subMenus
					.group.group--md
						.col.col-3-tl
							h5.footer__listTitle Клиентам
							ul.footer__list
								+loop(6)
									li.footer__listItem
										a(href='/') Как оформить заказ

						.col.col-3-tl
							h5.footer__listTitle СантехСмарт
							ul.footer__list
									li.footer__listItem Партнерам  
									li.footer__listItem Юридическая информация 
									li.footer__listItem Вакансии
									li.footer__listItem Политика Конфендециальности
						.col.col-3-tl
							h5.footer__listTitle Способы оплаты
							ul.footer__list
									li.footer__listItem
										+I('ruble','footer ruble')
										+I('mir-logo2','footer')
										+I('mastercard-logo','footer')
										+I('maestro-logo','footer')
										+I('visa-logo','footer')
										
										

						.col.col-3-tl
							h5.footer__listTitle Мы в соцсетях
							ul.footer__list
									li.footer__listItem
										a.footer__link
											+I('vk','footer social')
										a.footer__link
											+I('facebook','footer social')
										a.footer__link
											+I('twitter','footer social')
										a.footer__link
											+I('pinterest','footer social')
										a.footer__link
											+I('telegram','footer social')
		.footer__signature
			.container
				.group.group--md
					.col.col-12-tl
						p ООО "САНТЕХCМАРТ" 2014-2018  
			
			
			
			
mixin C-priceAndStock(type,empty)
	-if(!type)
		.priceAndStock(data-qcontent='component__priceAndStock')
			span.productCol__price 14 300
				span.icon-ruble
			-if(!empty)
				span.productCol__stock.icon-tick В наличии
				+C-smartBonus() 
			-else
				span.productCol__stock.productCol__stock--out Нет В наличии
	-if(type == 'sale')
		.priceAndStock.priceAndStock--sale(data-qcontent='component__priceAndStock')
			span.productCol__price
				span.productCol__oldPrice 17 300
					span.icon-ruble
				| 14 300
				span.icon-ruble
			-if(!empty)  
				span.productCol__stock.icon-tick В наличии
				+C-smartBonus()
			-else
				span.productCol__stock.productCol__stock--out Нет В наличии
	-if(type == 'part')
		.priceAndStock.priceAndStock--part(data-qcontent='component__priceAndStock')
				span.productCol__price
					span.productCol__mrcPrice 17 300   
						span.icon-ruble        
					| 14 300     
					span.icon-ruble  
				-if(!empty)
					span.partStock
						span.productCol.productCol__stock.icon-tick Доступно: 299шт   
						span.productCol.productCol__lock.icon-padlock Резерв: 389шт
				-else
					span.productCol__stock.productCol__stock--out Нет В наличии
mixin C-productInline(data,type)
	-if(!type) type= false
	.productInline__content(data-qcontent='component__productInline')
			.group.group--md.group--va-middle 
				if(type != 'search')
					.col.col-2-tp
							a.productInline__link(href='#')
								+vertical_centered_image('https://santehsmart.ru/upload/iblock/4c6/4c6cab2c253fe3605d49a01b0b45aaeb.jpg','productInline__section--img')
				else 
					.col.col-3-tp
						a.productInline__link(href='#')
							.productInline__section--img(style="background-image:url(https://santehsmart.ru/upload/iblock/4c6/4c6cab2c253fe3605d49a01b0b45aaeb.jpg)")
				if(type != 'search')
					.col.col-4-tp
						+B-productBadge('Распродажа','sale')
						br
						a.productInline__link(href='#')
							span.productInline__section--sku='Код товара: '+data.sku
							h6.productInline__section--name=data.title
				else
					.col.col-6-tp
						a.productInline__link(href='#')
							span.productInline__section--sku='Код товара: '+data.sku
							h6.productInline__section--name=data.title
				if(type != 'search')
					.col.col-2-tp
						.productInline__section--price
							+C-priceAndStock('sale')
				else
					.col.col-3-tp
							.productInline__section--price
								+C-priceAndStock('sale')  
				if(type != 'search')
					.col.col-2-tp.col-8-m.push-2-m
						+In-counter()
				if(type=='cart')
					.col.col-2-tp.dltCtn
						+B-delete()
				if(type=='cat')
					.col.col-2-tp
						+B-toOrder('В корзину')
						+In-compareButton('В сравнение','checkBox--compare','compare')  
					.col.col-12-tp
						+MODULE-productChar()  
				if block 
					block 
					
					
					
					
					
					
mixin C-sameCatProducts()
	h6 Еще в категории сантехника
	ul.sameCatProducts(data-qcontent='component__sameCatProducts')
		li.sameCatProducts__item
				a(href='#').sameCatProducts__link.sameCatProducts__link--active Ванны акриловые 
		+loop(8)
			li.sameCatProducts__item
				a(href='#').sameCatProducts__link Ванны акриловые прямоугольные
mixin C-smartBonus()
	.smartBonus(data-qcontent='component__smartBonus')
		+I('smartbonus','smartBonus')
		span.smartBonus__value + 25  
		|CмартБонусов 
mixin C-subscribeSts()
	.subscribeSts(data-qcontent='component__subscribeSts')
		form.subscribeSts__form
			input.subscribeSts__inpt(placeholder="Введите ваш email") 
			button.subscribeSts__btn
				+I('mail') 
				span Подписаться
			
		