mixin MODULE-atest()
	<!-- split modules/atest -->
	.atest__content(data-qcontent='module__atest')
		.atest
mixin breadcrumbs()
	.breadcrumb__content(data-qcontent=modules_breadcrubs)
		nav.breadCrumb.visible-l
			a(href='/').breadcrumb__section.breadCrumb__section--home Главная
			+loop(9)
				a(href='/').breadcrumb__section Другая страница12

mixin confirmedOrderPage()
	<!-- split modules/confirmedOrderPage -->
	.confirmedOrderPage__content(data-qcontent='module__confirmedOrderPage')
		.confirmedOrderPage 
			span hello Dude!!!
mixin MODULE-flyPageFragment()
	<!-- split modules/flyPageFragment -->
	.flyPageFragment__content(data-qcontent='module__flyPageFragment')
		.flyPageFragment
			button.toOrder.active.notEdit Добавить в заявку
			button.toOrder.succes.notEdit Get Element
			table.flyPageFragment__table
				tr.table_row
					td.fragmentTitle Артикул:
					td.sku 123243
				tr
					td.fragmentTitle МРЦ: 
					td.rrc_price 8900 Р
				tr
					td.fragmentTitle МОЦ:
					td.mop_price 6 100 Р
				tr
					td.fragmentTitle Доступно:
					td.stock 14 шт
mixin MODULE-testOfParent()
	<!-- split modules/testOfParent -->
	.testOfParent__content(data-qcontent='module__testOfParent')
		span.testOfParent Hurray!!! Levels are BACK!!!
		span.testOfParent--clicked Its real good NewsSadw221
mixin MODULE-testSnippetModule()
	<!-- split modules/testSnippetModule -->
	.testSnippetModule__content(data-qcontent='module__testSnippetModule')
		.testSnippetModule
mixin LEVEL-orderPage(title,className)
	-if (!className) className =''
	-var link = "<a href='/'>N 1231238</a>"
	-var link1 = "<a href='/'>личном кабинетеQ</a>"
	-var link2 = "<a href='/'>Иванов Иван.</a>"
	section.orderPage__content(class = 'orderPage__content'+ className data-qcontent="level__orderPage")
		h1.orderPage__title=title
		+I('svg','red')
		+I('plus-button')  
		+I('button','tri') 
		+I('tri','tri')
		+I('car-front','tri')
		+I('rocket','rocket')
		+I('eco','tri')  
		+I('drop','tri')
		+I('search','tri')
		.buttonWrapper
			+B-b1('hello')
		p.orderPage__mainMessage.text
			| Ваша заявка! 
			|!{link} 
			| принята на обработку!!1e2sa eewsaaq ывsssw  
		ul.orderPage__subMess
			li В настоящий момент заявка ожидаетd подтверждения м    енеджером.
			li Ваш ответственный менеджер !{link2} автоматически оповещен.
			li Отслеживать статус заявки вы можете в !{link1}.
			li Электронная копия заявки отправлена на указанный вами email.
			
		.orderPage__actions
			a(href='/') &larr; В личный Кабинет!. 
			br
			a(href='/') &larr; На главнуюa!.
		if block
			block
			
		
mixin LEVEL-testOfSergConnectingSupport(title,className)
	-if (!className) className =''
	.testOfSergConnectingSupport__content(class = 'testOfSergConnectingSupport__content'+ className data-qcontent="level__testOfSergConnectingSupport")
		h2.testOfSergConnectingSupport__title=title
		block testOfSergConnectingSupport