mixin breadcrumbs()
	.breadCrumb__content(data-qcontent='module__breadcrumbs')
		nav.breadCrumb.visible-l
			a(href='/').breadcrumb__section.breadCrumb__section--current 1
			-var page1 = 1
			+loop(9)
				a(href='/').not.breadcrumb__section #{page1 +=1} 

mixin MODULE-cart()
	<!-- split modules/cart -->
	button.cart__content(data-qcontent='module__cart')
		span.cart__icon
			+I('cart-s','topBar')
		span Корзина
mixin MODULE-catalog()
	if(page.slug == 'main')
		-var classN = 'catalog__by--hovered'
	else 
		-var classN = ''
		
	<!-- split modules/catalog -->
	ul.catalog__content(data-qcontent='module__catalog')    
		li.catalog__by.catalog__by--category.clearfix#js-CatChoiser(class=' ' + classN)
			+I('menu-alt','categories')
			span.catalog__elemTitle Кaталог      
			+I('to-right','to-right f-right') 
		li.catalog__by.catalog__by--brand.clearfix#js-BrandChoiser
			+I('star','categories ')
			span.catalog__elemTitle Бренды    
			+I('to-right','to-right f-right')   
mixin MODULE-catalogList(param)
	if(page.slug=='main')
		-var classN = 'catalogList--onMain'
	else 
		-var classN = '' 
	<!-- split modules/catalogList -->
	.catalogList__outerWrapper  
		.catalogList__outer#js_catShadow
		+LEVEL-inner()
			.catalogList__content(data-qcontent='module__catalogList') 
				.catalogList__wrapper.catalogList__category.l_ib__c(class=' '+ classN)#js_categories
					nav(role='catalog').catalogList__categoryNavigation.l_ib__e
						ul.catalogList__categoryList
								li.catalogList__categoryItem#js_showSub__1     
									+I('bathm','asset')      
									span Ванны
									+I('to-right','catalog') 
								li.catalogList__categoryItem#js_showSub__2
									+I('mebelm','asset')   
									span Мебель для ванной
									+I('to-right','catalog')  
								li.catalogList__categoryItem#js_showSub__3   
									+I('smes','asset')           
									span Смесители
									+I('to-right','catalog')
								li.catalogList__categoryItem#js_showSub__4
									+I('dkm','asset')  
									span Душ Кабины и уголки
									+I('to-right','catalog')
								li.catalogList__categoryItem#js_showSub__5
									+I('ogpo','asset')          
									span Ограждения, поддоны
									+I('to-right','catalog')
								li.catalogList__categoryItem#js_showSub__6
									+I('showerm','asset')            
									span Все для душа 
									+I('to-right','catalog')
								li.catalogList__categoryItem#js_showSub__7 
									+I('toiletm','asset')           
									span Унитазы и Биде 
									+I('to-right','catalog')
								li.catalogList__categoryItem#js_showSub__8  
									+I('susm2','asset')           
									span Полотенцесушители 
									+I('to-right','catalog')
								li.catalogList__categoryItem#js_showSub__9  
									+I('accm','asset')              
									span Аксессуары 
									+I('to-right','catalog')
								li.catalogList__categoryItem#js_showSub__3   
									+I('smes','asset')           
									span Смесители
									+I('to-right','catalog')
								li.catalogList__categoryItem#js_showSub__4
									+I('dkm','asset')  
									span Душ Кабины и уголки
									+I('to-right','catalog')
								li.catalogList__categoryItem#js_showSub__5
									+I('ogpo','asset')          
									span Ограждения, поддоны
									+I('to-right','catalog')
								li.catalogList__categoryItem#js_showSub__6
					ul.catalogList__categorySublist.l_ib__e
						li.catalogList__SublistItem#js_sub__1 1
						li.catalogList__SublistItem#js_sub__2 2
						li.catalogList__SublistItem#js_sub__3 3
						li.catalogList__SublistItem#js_sub__4 4
						li.catalogList__SublistItem#js_sub__5 5
						li.catalogList__SublistItem#js_sub__6 6
						li.catalogList__SublistItem#js_sub__7 7
						li.catalogList__SublistItem#js_sub__8 8
						li.catalogList__SublistItem#js_sub__9 9
				.catalogList__wrapper.catalogList__brands#js_brands
					nav(role='brands').catalogList__brandNavigation
						ul.catalogList__brandList.l_ib__c 
							+loop(11)
								li.catalogList__barandLitera.l_ib__e A
									ul.catalogList__barandList
										li.catalogList__barandItem
											a(href='asdsad') Alpen
	
					
				
mixin MODULE-catalogMain()
	<!-- split modules/catalogMain -->
	.catalogMain__content(data-qcontent='module__catalogMain')
		.catalogList__category.l_ib__c(class=' '+ classN)#js_categories
			nav(role='catalog').l_ib__e
				ul.catalogList__categoryList
						li.catalogList__categoryItem#js_showSub__1     
							+I('bathm','asset')      
							span Ванны
							+I('to-right','catalog') 
						li.catalogList__categoryItem#js_showSub__2
							+I('mebelm','asset')   
							span Мебель для ванной
							+I('to-right','catalog')  
						li.catalogList__categoryItem#js_showSub__3   
							+I('smes','asset')           
							span Смесители
							+I('to-right','catalog')
						li.catalogList__categoryItem#js_showSub__4
							+I('dkm','asset')  
							span Душ Кабины и уголки
							+I('to-right','catalog')
						li.catalogList__categoryItem#js_showSub__5
							+I('ogpo','asset')          
							span Ограждения, поддоны
							+I('to-right','catalog')
						li.catalogList__categoryItem#js_showSub__6
							+I('showerm','asset')            
							span Все для душа 
							+I('to-right','catalog')
						li.catalogList__categoryItem#js_showSub__7 
							+I('toiletm','asset')           
							span Унитазы и Биде 
							+I('to-right','catalog')
						li.catalogList__categoryItem#js_showSub__8  
							+I('susm2','asset')           
							span Полотенцесушители 
							+I('to-right','catalog')
						li.catalogList__categoryItem#js_showSub__9  
							+I('accm','asset')              
							span Аксессуары 
							+I('to-right','catalog')
						li.catalogList__categoryItem#js_showSub__3   
							+I('smes','asset')           
							span Смесители
							+I('to-right','catalog')
						li.catalogList__categoryItem#js_showSub__4
							+I('dkm','asset')  
							span Душ Кабины и уголки
							+I('to-right','catalog')
						li.catalogList__categoryItem#js_showSub__5
							+I('ogpo','asset')          
							span Ограждения, поддоны
							+I('to-right','catalog')
						li.catalogList__categoryItem#js_showSub__6
			ul.catalogList__categorySublist.l_ib__e
				li.catalogList__SublistItem#js_sub__1 1
				li.catalogList__SublistItem#js_sub__2 2
				li.catalogList__SublistItem#js_sub__3 3
				li.catalogList__SublistItem#js_sub__4 4
				li.catalogList__SublistItem#js_sub__5 5
				li.catalogList__SublistItem#js_sub__6 6
				li.catalogList__SublistItem#js_sub__7 7
				li.catalogList__SublistItem#js_sub__8 8
				li.catalogList__SublistItem#js_sub__9 9
mixin confirmedOrderPage()
	<!-- split modules/confirmedOrderPage -->
	.confirmedOrderPage__content(data-qcontent='module__confirmedOrderPage')
		.confirmedOrderPage 
			span hello Dude!!!
mixin MODULE-flyPageFragment(data)
	<!-- split modules/flyPageFragment -->
	.flyPageFragment__content(data-qcontent='module__flyPageFragment')
		.flyPageFragment 
			h1=data.title 
			button.toOrder.active.notEdit Добавить в заявку 
			button.toOrder.succes.notEdit Get Element
			table.flyPageFragment__table
				tr.table_row
					td.fragmentTitle Артикул:
					td.sku 123243
				tr
					td.fragmentTitle МРЦ: 
					td.rrc_price 8900 Р
				tr
					td.fragmentTitle МОЦ:
					td.mop_price 6 100 Р
				tr
					td.fragmentTitle Доступно:
					td.stock 14  шт
mixin MODULE-geoTarget()
	<!-- split modules/geoTarget -->
	.geoTarget__content(data-qcontent='module__geoTarget')
		.geoTarget__city
			span.icon-placeholder
			a.geoTarget__link.js_modal_trigger(href='df' id = 'js_modal_trigger__geo') Воронеж
		.geoTarget__points
			span.geoTarget__pointsCount 3 
			a(href='fdgg').geoTarget__pointsDesc Пункта выдачи
mixin MODULE-IBGrid()
	<!-- split modules/IBGrid -->
	.IBGrid__content(data-qcontent='module__IBGrid')
		.group.group--el.group--v-el
			+loop(12) 
				.col.col-6-tp.hideFrom-tl   
					.testgrid 1      

mixin MODULE-layout()
	<!-- split modules/layout -->
	.layout__content(data-qcontent='module__layout')
		.layout
mixin MODULE-mainInfo()
	<!-- split modules/mainInfo -->
	.mainInfo__content(data-qcontent='module__mainInfo')
		.group.group--md
			.col.col-4-tl  
				.mainInfo__logo
					h1 Santehsmart
				//	+logo-img('logo1.svg') 
			.col.col-3-tl.showFrom-tl
				.mainInfo__block.mainInfo__geotarget
					+MODULE-geoTarget() 
			.col.col-8-tl.hideFrom-tl
				.mainInfo__cart_search--mobile 
					span Корзина 
					span Поиск
			.col.col-8-tl.hideFrom-m 
				.mainInfo__logo--mobile 
					h1.logo SantehSmart
			.col.col-4-tl
			.col.col-5-tl.showFrom-tl
					span.mainInfo__phone.js_modal_trigger(id = 'js_modal_trigger__login') 
						|8 800 500 13 84 
mixin MODULE-mainSearch()
	<!-- split modules/mainSearch -->
	.mainSearch__content(data-qcontent='module__mainSearch')
		form.mainSearch__form 
			input.mainSearch__input(type='text',placeholder="Поиск среди 20 000 товаров")
			span.mainSearch__icon
				+I('search','mainSearch') 
			input.mainSearch__submit(type='submit' value="Искать") 
   
mixin MODULE-module()
	<!-- split modules/module -->
	.module__content(data-qcontent='module__module')
		.module
mixin MODULE-module1()
	<!-- split modules/module1 -->
	.module1__content(data-qcontent='module__module1')
		.module1 
mixin MODULE-noticeList()
	<!-- split modules/noticeList -->
	.noticeList
		ul.noticeList__content(data-qcontent='module__noticeList')   
			+loop(4)
				li.noticeList__element.noticeList__element--unread
					time.noticeList__publicTime 
						b 29.11.2017 11:18:56 
					h5.noticeList__elementHeader Тестовое уведомление
					p.noticeList__noticeContent.text Следует отметить, что повышение уровня гражданского сознания обеспечивает широкому кругу (специалистов) участие в формировании форм воздействия. Таким образом, дальнейшее развитие различных форм деятельности, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для поэтапного и последовательного развития общества. Независимые государства, превозмогая сложившуюся непростую экономическую ситуацию, объявлены нарушающими общечеловеческие нормы этики и морали.
							 
mixin owlSlider()
	<!-- split modules/owlSlider -->
	.owlSlider
		.ove-mainSlider.owl-carousel
			+holder('carousel','100px300')  
			+holder('carousel','100px300')  
			+holder('carousel','100px300')  
mixin MODULE-productCol(data)
	<!-- split modules/productCol -->
	li.productCol__content.col-4-tl(data-qcontent='module__productCol')  
		.productCol__card 
			span.productSection__subTitle='Артикул: '
			span.productCol__sku=data.sku
			a.productCol__link(href="#")
				.productCol__img
				h6.productCol__name=data.title
			.clearfix.productCol__priceStock
				-if(data.opt)
						span.productCol__price.productCol__price--opt.productCol__price--opt Мрц: 1#{data.price} руб.#[br]
							span.productCol__price--opt.productCol__price--opt-moc Моц: #{data.price} руб.
				-else
					span.productCol__price.f-left=data.price+' руб.'
				-if(data.opt)
					span.productCol__stock.f-right Доступно:#[br]#{data.stock} из 223
				-else 
					span.productCol__stock.f-right В наличии:#[br] 
						span.productCol__stock--last Скоро закончится
			label.productInline__quantityLabel
				input.productInline__quantitySelector(type=text value='1'  size='2' )
				.productInline__quantityButton.productInline__quantityButton--minus
				.productInline__quantityButton.productInline__quantityButton--plus
			+B-toOrder('В корзину','colList')
			
				
mixin MODULE-productInline(data)
	<!-- split modules/productInline -->
	-var el ='.productInline';
	li.productInline__content(data-qcontent='module__productInline')
		a.productInline__link(href='#')  
			span.productInline__section.productInline__section--sku=data.sku
			span.productInline__section.productInline__section--img 
			h6.productInline__section.productInline__section--name=data.title
			-if(data.opt)
				span.productInline__section.productInline__section--price.productInline__section--price-moc Моц: 1#{data.price} руб.
			-else
				span.productInline__section.productInline__section--price #{data.price} руб.
			span.productInline__section.productInline__section--stock=data.stock +' из 1522'
		span.productInline__section.productInline__section--quantity    
			label.productInline__quantityLabel
				input.productInline__quantitySelector(type=text value='1'  size='3' )
				.productInline__quantityButton.productInline__quantityButton--minus
				.productInline__quantityButton.productInline__quantityButton--plus
		span.productInline__section.productInline__section--order       
			+B-toOrder('В заявку')          
mixin MODULE-reactTest()
	<!-- split modules/reactTest -->
	.reactTest__content(data-qcontent='module__reactTest')
		#reactTest1
mixin MODULE-support()
	<!-- split modules/support -->
	.support__content(data-qcontent='module__support')
		section.support__section
			h3.support__sectionTitle Ваш менеджер
		section.support__section
			h3.support__sectionTitle Тех поддержка
		section.support__section
			h3.support__sectionTitle Настройки
mixin MODULE-topBar()
	<!-- split modules/topBar -->
	.topBar__content(data-qcontent='module__topBar')
		.group.group--md.group--v-md.group--va-middle    
			.topBar
				.col.col-4-tl.col-16-m
					.topBar__catalog
						+MODULE-catalog() 
				.col.col-8-tl
					.topBar__search
						+MODULE-mainSearch()   
				.col.col-4-tl.showFrom-tl
					.topBar__cart 
						+MODULE-cart() 
			 
				
mixin MODULE-topMenu()
	<!-- split modules/topMenu -->
	.topMenu__content(data-qcontent='module__topMenu')
		nav.topMenu
			ul.topMenu__list
				li.topMenu__element.popup__trigger
					+A-material('Розничным Клиентам')
					+LEVEL-popup()
						ul.popup__menu
							li.popup__menuItem
								+A-material('Оплата и доставка')
							li.popup__menuItem
								+A-material('Возврат и обмен')
							li.popup__menuItem
								+A-material('Оплата и доставка')
							li.popup__menuItem
								+A-material('Возврат и обмен')
							li.popup__menuItem
								+A-material('Оплата и доставка')
							li.popup__menuItem
								+A-material('Возврат и обмен')
				li.topMenu__element.popup__trigger
					+A-material('Оптовым Клиентам')
					+LEVEL-popup()
						ul
							li 3
							li 4
				li.topMenu__element
					+A-material('Контакты')
mixin LEVEL-inner(data)
	.level__inner
		.container
			if block
				block
mixin LEVEL-level(title,className)
	-if (!className) className =''
	.level__content(class = 'level__content'+ className data-qcontent="level__level")
		h2.level__title=title
		block level
mixin LEVEL-level2(title,data)
	.level2
		.level2__content(class = 'level2__content'+ className data-qcontent="level__level2")
			h2.level2__title=data.title.ZOPA
			if block
				block
mixin LEVEL-level1(data)
	.level1
		.level1__content(class = 'level1__content'+ className data-qcontent="level__level1")
			h2.level1__title=title
			if block
				block
mixin LEVEL-modalWindow(id, title)
	.modalWindow.overlay.modalWindow--hide(id = 'js_modall__'+id)
		.modalWindow__content(class = 'modalWindow__content' data-qcontent="level__modalWindow")
			a.modalWindow__close
				+I('close','close')
			h3.modalWindow__title=title
			.modalWindow__body
				if block
					block       
mixin LEVEL-orderPage(title,className)
	-if (!className) className =''
	-var link = " <a href='/'>N 1231238</a>"
	-var link1 = " <a href='/'>личном кабинетеQ</a>"
	-var link2 = " <a href='/'>Иванов Иван.</a>"
	section.orderPage__content.holderjs(class = 'orderPage__content'+ className data-qcontent="level__orderPage")
		h1.orderPage__title=title
		.newClass Hello  
		+holder('page__loader','100px100',colors.primary)
		+loop(5)
			+holder('page__loader','100px100')  
		.buttonWrapper
			+B-b1('hello')
		.buttonWrapper
			+B-b1('hello')
		p.orderPage__mainMessage.text
			| Ваша заявка
			|  !{link} s  
			| принята на обработку!!!    
		ul.orderPage__subMess
			li В настоящий момент заявка ожидаетd подтверждения м    енеджером.
			li Ваш ответственный менеджер !{link2} автоматически оповещен.
			li Отслеживать статус заявки вы можете в !{link1}.
			li Электронная копия заявки отправлена на указанный вами em.
			
		.orderPage__actions
			a(href='/') &larr; В личный Кабинет!. 
			br
			a(href='/') &larr; На главнуюa!.
		if block
			block
			
		
mixin LEVEL-outer(data)
	.outer
		.outer__content(class = 'outer__content'+ className data-qcontent="level__outer")
			if block    
				block        
mixin LEVEL-page(title,className)
	-if (!className) className =''
	.page__content(class = 'page__content'+ className data-qcontent="level__page")
		h2.page__title=title
		if block 
			block
mixin LEVEL-popup(data)
	.popup__angle
		+I('to-right','popup')
	.popup
		.popup__content(class = 'popup__content'+ className data-qcontent="level__popup")
			.popup__body
				if block
					block
//
mixin LEVEL-productSection(title,className)
	.productSection__content(data-qcontent="level__productSection")
		header.productSection__header.clearfix
			.productSection__pager.f-left 
				span.productSection__subTitle Страницы:
				+breadcrumbs()
			.productSection__filter.f-left   
				span.productSection__subTitle Cортировать по:
				a.productSection__sortBy.productSection__sortBy--selected Цене
				| |
				a.productSection__sortBy Производителю
			.productSection__layoutChoiser.f-right
				span.productSection__subTitle Вид каталога:
				a(href='/')
					+I('layout','productsLayout icon--productsLayout--selected')
				a(href='/')
					+I('layout1','productsLayout') 
		if block
			block
mixin LEVEL-showcase(title,className)
	-if (!className) className =''
	section.showcase__content(class = 'showcase__content '+ className data-qcontent="level__showcase")
		h1.showcase__title=title
		.container
			p.showcase__subtytle.text Hello its Showcase Content
			+holder('page__loader','100px300',colors.primary)
			if block
				block
mixin LEVEL-showCasePage(data)
	-if (!className) className =''
	.container
		section.showCasePage__content(class = 'showCasePage__content '+ data.class data-qcontent="level__showCasePage" data-self=""+data.self)
			h1.showCasePage__title=data.title
			h4.showCasePage__subtitle.text Icons:  
			+I('box')
			+I('search')
			+I('eshop')
			+I('cart','cart_Main')
			+I('cart','cart_btn')
			+I('truck')
			+I('arrow')  
			+I('marker')
			+I('clock')
			+I('sale') 
			+I('star')
			+I('toilet')
			+I('bath')
			h4.showCasePage__subtitle.text Headings 
			h1.showCasePage__subtitle.showCasePage__subtitle--red=data.idName
			h2 Header
			h3 Headera
			h4 Header
			h5 Header
			h6 Header
			h4.showCasePage__subtitle.text Paragraph:
			p По своей сути рыбатекст является альтернативой традиционноaму lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
			if block
				block
mixin LEVEL-starter(title,className)
	-if (!className) className =''
	.starter__content(class = 'starter__content'+ className data-qcontent="level__starter")
		h5.starter__title=title
		if block
			block
mixin LEVEL-testOfSergConnectingSupport(title,className)
	-if (!className) className =''
	.testOfSergConnectingSupport__content(class = 'testOfSergConnectingSupport__content'+ className data-qcontent="level__testOfSergConnectingSupport")
		h2.testOfSergConnectingSupport__title=title
		block testOfSergConnectingSupport
mixin LEVEL-topdashBoard(data)
	-if (!className) className =''
	.topdashBoard__content(class = 'topdashBoard__content'+ className data-qcontent="level__topdashBoard")
		.container=data.title 
			ul.topdashBoard__list
				+dashBoardElement('tie','Личный Кабинет   ','dashBoardElement')
				+dashBoardElement('notification','Уведомления','dashBoardElement dashBoardElement--notice','noticer')
				+dashBoardElement('help','Помощь и настройки','dashBoardElement')
				+dashBoardElement('orderlist','Заявка:','dashBoardElement','orderList')
				+dashBoardElement('help','Режим Торгового Зала','dashBoardElement','switcher')
		if block
			block 