mixin MODULE-atest()
	<!-- split modules/atest -->
	.atest__content(data-qcontent='module__atest')
		.atest
mixin breadcrumbs()
	.breadcrumb__content(data-qcontent=modules_breadcrubs)
		nav.breadCrumb.visible-l
			a(href='/').breadcrumb__section.breadCrumb__section--home Главная
			+loop(9)
				a(href='/').breadcrumb__section Другая страница12

mixin confirmedOrderPage()
	<!-- split modules/confirmedOrderPage -->
	.confirmedOrderPage__content(data-qcontent='module__confirmedOrderPage')
		.confirmedOrderPage 
			span hello Dude!!!
mixin MODULE-flyPageFragment()
	<!-- split modules/flyPageFragment -->
	.flyPageFragment__content(data-qcontent='module__flyPageFragment')
		.flyPageFragment
			button.toOrder.active.notEdit Добавить в заявку
			button.toOrder.succes.notEdit Get Element
			table.flyPageFragment__table
				tr.table_row
					td.fragmentTitle Артикул:
					td.sku 123243
				tr
					td.fragmentTitle МРЦ: 
					td.rrc_price 8900 Р
				tr
					td.fragmentTitle МОЦ:
					td.mop_price 6 100 Р
				tr
					td.fragmentTitle Доступно:
					td.stock 14 шт
mixin MODULE-reactTest()
	<!-- split modules/reactTest -->
	.reactTest__content(data-qcontent='module__reactTest')
		#reactTest1
mixin LEVEL-orderPage(title,className)
	-if (!className) className =''
	-var link = "<a href='/'>N 1231238</a>"
	-var link1 = "<a href='/'>личном кабинетеQ</a>"
	-var link2 = "<a href='/'>Иванов Иван.</a>"
	section.orderPage__content.holderjs(class = 'orderPage__content'+ className data-qcontent="level__orderPage")
		h1.orderPage__title=title
		.newClass Hello  
		+holder('page__loader','100px100',colors.primary)
		+loop(5)
			+holder('page__loader','100px100')  
		.buttonWrapper
			+B-b1('hello')
		.buttonWrapper
			+B-b1('hello')
		p.orderPage__mainMessage.text
			| Ваша заявка
			| !{link} 
			| принята на обработку!!!    
		ul.orderPage__subMess
			li В настоящий момент заявка ожидаетd подтверждения м    енеджером.
			li Ваш ответственный менеджер !{link2} автоматически оповещен.
			li Отслеживать статус заявки вы можете в !{link1}.
			li Электронная копия заявки отправлена на указанный вами email.
			
		.orderPage__actions
			a(href='/') &larr; В личный Кабинет!. 
			br
			a(href='/') &larr; На главнуюa!.
		if block
			block
			
		
mixin LEVEL-showcase(title,className)
	-if (!className) className =''
	section.showcase__content(class = 'showcase__content '+ className data-qcontent="level__showcase")
		h1.showcase__title=title
		.container
			p.showcase__subtytle.text Hello its Showcase Content
			+holder('page__loader','100px300',colors.primary)
			if block
				block
mixin LEVEL-showCasePage(data)
	-if (!className) className =''
	.container
		.showCasePage__content(class = 'showCasePage__content '+ data.class data-qcontent="level__showCasePage")
			h2.showCasePage__title=data.title
			h4.showCasePage__subtitle.text Icons:  
			+I('box')
			+I('search')
			+I('eshop')
			+I('cart','cart_Main')
			+I('cart','cart_btn')
			+I('truck')
			+I('arrow')
			+I('marker')
			+I('clock')
			+I('sale')
			+I('star')
			+I('toilet')
			+I('bath')
			h4.showCasePage__subtitle.text Headings
			h1.showCasePage__subtitle.showCasePage__subtitle--red Header:  
			h3 Header
			h4 Header
			h5 Header
			h6 Header
			h4.showCasePage__subtitle.text Paragraph:
			p По своей сути рыбатекст является альтернативой традиционноaму lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
			if block
				block
mixin LEVEL-testOfSergConnectingSupport(title,className)
	-if (!className) className =''
	.testOfSergConnectingSupport__content(class = 'testOfSergConnectingSupport__content'+ className data-qcontent="level__testOfSergConnectingSupport")
		h2.testOfSergConnectingSupport__title=title
		block testOfSergConnectingSupport