mixin MODULE-atest()
	<!-- split modules/atest -->
	.atest__content(data-qcontent='module__atest')
		.atest
mixin breadcrumbs()
	.breadCrumb__content(data-qcontent='module__breadcrumbs')
		nav.breadCrumb.visible-l
			a(href='/').breadcrumb__section.breadCrumb__section--current 1
			-var page1 = 1
			+loop(9)
				a(href='/').not.breadcrumb__section #{page1 +=1}

mixin confirmedOrderPage()
	<!-- split modules/confirmedOrderPage -->
	.confirmedOrderPage__content(data-qcontent='module__confirmedOrderPage')
		.confirmedOrderPage 
			span hello Dude!!!
mixin MODULE-flyPageFragment(data)
	<!-- split modules/flyPageFragment -->
	.flyPageFragment__content(data-qcontent='module__flyPageFragment')
		.flyPageFragment 
			h1=data.title 
			button.toOrder.active.notEdit Добавить в заявку 
			button.toOrder.succes.notEdit Get Element
			table.flyPageFragment__table
				tr.table_row
					td.fragmentTitle Артикул:
					td.sku 123243
				tr
					td.fragmentTitle МРЦ: 
					td.rrc_price 8900 Р
				tr
					td.fragmentTitle МОЦ:
					td.mop_price 6 100 Р
				tr
					td.fragmentTitle Доступно:
					td.stock 14  шт
mixin MODULE-productCol(data)
	<!-- split modules/productCol -->
	li.productCol__content.col-3-d(data-qcontent='module__productCol') 
		.productCol__card 
			span.productSection__subTitle='Артикул: '
			span.productCol__sku=data.sku
			a.productCol__link(href="#")
				.productCol__img
				h6.productCol__name=data.title
			.clearfix.productCol__priceStock
				span.productCol__price.f-left=data.price+' руб.' 
				span.productCol__stock.f-right='В наличии: '+data.stock
			label.productInline__quantityLabel
				input.productInline__quantitySelector(type=text value='1'  size='3' )
				.productInline__quantityButton.productInline__quantityButton--minus
				.productInline__quantityButton.productInline__quantityButton--plus
			+B-toOrder('В корзину','colList')
			
				
mixin MODULE-productInline(data)
	<!-- split modules/productInline -->
	-var el ='.productInline';
	li.productInline__content(data-qcontent='module__productInline')
		a.productInline__link(href='#')  
			span.productInline__section.productInline__section--sku=data.sku
			span.productInline__section.productInline__section--img 
			h6.productInline__section.productInline__section--name=data.title
			span.productInline__section.productInline__section--price=data.price+' руб.'
			span.productInline__section.productInline__section--stock=data.stock +' из 1522'
		span.productInline__section.productInline__section--quantity    
			label.productInline__quantityLabel
				input.productInline__quantitySelector(type=text value='1'  size='3' )
				.productInline__quantityButton.productInline__quantityButton--minus
				.productInline__quantityButton.productInline__quantityButton--plus
		span.productInline__section.productInline__section--order       
			+B-toOrder('В заявку')          
mixin MODULE-reactTest()
	<!-- split modules/reactTest -->
	.reactTest__content(data-qcontent='module__reactTest')
		#reactTest1
//
mixin LEVEL-productSection(title,className)
	.productSection__content(data-qcontent="level__productSection")
		header.productSection__header.clearfix
			.productSection__pager.f-left 
				span.productSection__subTitle Страницы:
				+breadcrumbs()
			.productSection__filter.f-left 
				span.productSection__subTitle Cортировать по:
				a.productSection__sortBy.productSection__sortBy--selected Цене
				| |
				a.productSection__sortBy Производителю
			.productSection__layoutChoiser.f-right
				span.productSection__subTitle Вид каталога:
				a(href='/')
					+I('layout','productsLayout icon--productsLayout--selected')
				a(href='/')
					+I('layout1','productsLayout') 
		if block
			block
mixin LEVEL-showcase(title,className)
	-if (!className) className =''
	section.showcase__content(class = 'showcase__content '+ className data-qcontent="level__showcase")
		h1.showcase__title=title
		.container
			p.showcase__subtytle.text Hello its Showcase Content
			+holder('page__loader','100px300',colors.primary)
			if block
				block
mixin LEVEL-orderPage(title,className)
	-if (!className) className =''
	-var link = " <a href='/'>N 1231238</a>"
	-var link1 = " <a href='/'>личном кабинетеQ</a>"
	-var link2 = " <a href='/'>Иванов Иван.</a>"
	section.orderPage__content.holderjs(class = 'orderPage__content'+ className data-qcontent="level__orderPage")
		h1.orderPage__title=title
		.newClass Hello  
		+holder('page__loader','100px100',colors.primary)
		+loop(5)
			+holder('page__loader','100px100')  
		.buttonWrapper
			+B-b1('hello')
		.buttonWrapper
			+B-b1('hello')
		p.orderPage__mainMessage.text
			| Ваша заявка
			|  !{link} s  
			| принята на обработку!!!    
		ul.orderPage__subMess
			li В настоящий момент заявка ожидаетd подтверждения м    енеджером.
			li Ваш ответственный менеджер !{link2} автоматически оповещен.
			li Отслеживать статус заявки вы можете в !{link1}.
			li Электронная копия заявки отправлена на указанный вами em.
			
		.orderPage__actions
			a(href='/') &larr; В личный Кабинет!. 
			br
			a(href='/') &larr; На главнуюa!.
		if block
			block
			
		
mixin LEVEL-testOfSergConnectingSupport(title,className)
	-if (!className) className =''
	.testOfSergConnectingSupport__content(class = 'testOfSergConnectingSupport__content'+ className data-qcontent="level__testOfSergConnectingSupport")
		h2.testOfSergConnectingSupport__title=title
		block testOfSergConnectingSupport
mixin LEVEL-topdashBoard(data)
	-if (!className) className =''
	.topdashBoard__content(class = 'topdashBoard__content'+ className data-qcontent="level__topdashBoard")
		.container=data.title 
			ul.topdashBoard__list
				+dashBoardElement('tie','Личный Кабинет   ','dashBoardElement')
				+dashBoardElement('notification','Уведомления','dashBoardElement dashBoardElement--notice','noticer')
				+dashBoardElement('help','Помощь и настройки','dashBoardElement')
				+dashBoardElement('orderlist','Заявка:','dashBoardElement','orderList')
				+dashBoardElement('help','Режим Торгового Зала','dashBoardElement','switcher')
		if block
			block 
mixin LEVEL-showCasePage(data)
	-if (!className) className =''
	.container
		section.showCasePage__content(class = 'showCasePage__content '+ data.class data-qcontent="level__showCasePage" data-self=""+data.self)
			h1.showCasePage__title=data.title
			h4.showCasePage__subtitle.text Icons:  
			+I('box')
			+I('search')
			+I('eshop')
			+I('cart','cart_Main')
			+I('cart','cart_btn')
			+I('truck')
			+I('arrow')  
			+I('marker')
			+I('clock')
			+I('sale')
			+I('star')
			+I('toilet')
			+I('bath')
			h4.showCasePage__subtitle.text Headings 
			h1.showCasePage__subtitle.showCasePage__subtitle--red=data.idName
			h2 Header
			h3 Headera
			h4 Header
			h5 Header
			h6 Header
			h4.showCasePage__subtitle.text Paragraph:
			p По своей сути рыбатекст является альтернативой традиционноaму lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
			if block
				block