mixin MODULE-modalHint(className,title,textBlockAfterTitle,textBlockAfterP,actionText)
	<!-- split modules/modalHint -->
	-if (!className) className =''
	.modalHint__content(data-qcontent='module__modalHint')
		.modalHint(class=' '+className)
			.modalHint__icons
				-if(className == 'modalHint--lowerPrice')
					+I('hint','toSearch')
					+I('hint','toShops')
				-if(className == 'modalHint--eshop')
					+I('hint','toSearch')
					+I('hint','toCat')
				-if(className == 'modalHint--sale')
					+I('hint','toBookmarks')
					+I('hint','toCat')
				+I('close','close')
			h2.text.modalHint__title=title
			p.text=textBlockAfterTitle
			h5.text.modalHint__q=textBlockAfterP
			.modalHint__sellerIcon
				+I('seller','seller')
			span.modalHint__action=actionText
			

mixin B-radialConturButton(value,className)
	-if (!className) className =''
	button.radialConturButton(class=''+className data-qcontent='elements__buttons__radialConturButton')=value


mixin I(id,classModifier)
	-if (!classModifier) classModifier =''
	svg(class='icon '+classModifier)
		use(xlink:href="#"+id)
mixin LEVEL-actionWindow(title,className,icon,subtext,actionButtonText)
	-if (!className) className =''
	.actionWindow__content(class = 'actionWindow__content '+ className data-qcontent="level__actionWindow")
		h2.actionWindow__title=title
		.actionWindow__icon
			+I(icon)
		p.actionWindow__desc=subtext
		+B-radialConturButton(actionButtonText)
			