mixin B-gogog(value,className)
	-if (!className) className =''
	button.gogog(class=''+className)=value


mixin B(value,className)
	-if (!className) className =''
	button.mainButton(class=''+className)=value

mixin B-ove-cardReg(value,className,disabledc)
	-if (!className) className =''
	-if (!disabledc) disabled ='true'
	button.ove-cardReg(class=''+className,disabled=disabledc)=value


mixin B-toCart(value,className)
	-if (!className) className =''
	button.toCart(class=''+className)
		+I('cart')


mixin INPUT-oveCard(type,className)
	-if (!className) className =''
	input(type=""+type, class='ove-cardRegInput '+className)
mixin I(id,classModifier)
	-if (!classModifier) classModifier =''
	svg(class='icon '+classModifier)
		use(xlink:href="#"+id)
mixin A(content,href,className)
	-if (!className) className =''
	a(class='mainLink '+className,href=href)=content
mixin A-ove-topNavLink(content,href,className)
	-if (!className) className =''
	a(class='ove-topNavLink '+className,href=href)=content

mixin A-socialLink(content,href,className)
	-if (!className) className =''
	a(class='socialLink '+className,href=href)=content
mixin PL-spinner-circle(className)
	-if (!className) className =''
		.spinner-circle(class=''+className)
