mixin MODULE-productCol(data)
	<!-- split modules/productCol -->
		li.productCol__content(data-qcontent='module__productCol')  
			.productCol__card 
				span.productSection__subTitle='Код: '
				span.productCol__sku=data.sku
				-if(data.new)
					+B-productBadge('Новинка','new')
				-if(data.sale)
					+B-productBadge('Распродажа','sale') 
				-if(data.hit)
					+B-productBadge('Хит продаж','hit') 
				a.productCol__link(href="#")
					.productCol__img
					h6.productCol__name=data.title
					-if(data.sale)
						+C-priceAndStock('part')
					-else
						+C-priceAndStock()
					-if(data.opt)
						span.productCol__stock.f-right.icon-tick Доступно:#[br]#{data.stock} из 223
							//span.productCol__stock--last Скоро закончится
				//label.productInline__quantityLabel.showFrom-d   
					input.productInline__quantitySelector(type=text value='1'  size='2' )
					.productInline__quantityButton.productInline__quantityButton--minus
					.productInline__quantityButton.productInline__quantityButton--plus
				+B-toOrder('В корзину')