mixin MODULE-productInline(data)
	<!-- split modules/productInline -->
	-var el ='.productInline';
	li.productInline__content(data-qcontent='module__productInline')
		a.productInline__link(href='#')  
			span.productInline__section.productInline__section--sku=data.sku
			span.productInline__section.productInline__section--img 
			h6.productInline__section.productInline__section--name=data.title
			-if(data.opt)
				span.productInline__section.productInline__section--price.productInline__section--price-moc Моц: 1#{data.price} руб.
			-else
				span.productInline__section.productInline__section--price #{data.price} руб.
			span.productInline__section.productInline__section--stock=data.stock +' из 1522'
		span.productInline__section.productInline__section--quantity    
			label.productInline__quantityLabel
				input.productInline__quantitySelector(type=text value='1'  size='3' )
				.productInline__quantityButton.productInline__quantityButton--minus
				.productInline__quantityButton.productInline__quantityButton--plus
		span.productInline__section.productInline__section--order       
			+B-toOrder('В заявку')