//Debug Panel
script.
    var evt         = new Event(),
    dragdrop    = new Dragdrop(evt),
    rg          = new RulersGuides(evt, dragdrop);
.editorsContainer.clearfix.notEdit
    #editorPug.editor
    #editorScss.editor
    #editorJs.editor some text
script(src='ace-builds/src/ace.js', type='text/javascript', charset='utf-8')
script(src='ace-builds/src/theme-tomorrow_night_eighties.js', type='text/javascript', charset='utf-8')
script(src='ace-builds/src/mode-scss.js', type='text/javascript', charset='utf-8')
script(src='ace-builds/src/mode-jade.js', type='text/javascript', charset='utf-8')
script(src='ace-builds/src/mode-javascript.js', type='text/javascript', charset='utf-8')
script(src='ace-builds/src/ext-language_tools.js')
script(src='maps/main.css.map')
script(role='scss').
    var editor = ace.edit("editorScss");
    ace.require("ace/ext/language_tools");
    ace.require('ace/multi_select');
    editor.setTheme("ace/theme/tomorrow_night_eighties");
    var scssMode = ace.require("ace/mode/scss").Mode;
    editor.session.setMode(new scssMode());

    var staticWordCompleter = {
        getCompletions: function(editor, session, pos, prefix, callback) {
            var wordList = ["foo", "bar", "baz"];
            callback(null, wordList.map(function(word) {
                return {
                    caption: word,
                    value: word,
                    meta: "static"
                };
            }));
        }
    }
    editor.resize()
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true
    });
script(role='pug').
    var editorPug = ace.edit("editorPug");
    editorPug.setTheme("ace/theme/tomorrow_night_eighties");
    var PugMode = ace.require("ace/mode/jade").Mode;
    editorPug.session.setMode(new PugMode());

    var staticWordCompleter = {
        getCompletions: function(editorPug, session, pos, prefix, callback) {
            var wordList = ["foo", "bar", "baz"];
            callback(null, wordList.map(function(word) {
                return {
                    caption: word,
                    value: word,
                    meta: "static"
                };
            }));
        }
    }
    editorPug.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true
    });
script(role='js').
    var editorJs = ace.edit("editorJs");
    ace.require("ace/ext/language_tools");
    ace.require('ace/multi_select');
    editorJs.setTheme("ace/theme/tomorrow_night_eighties");
    var JavaScriptMode = ace.require("ace/mode/javascript").Mode;
    editorJs.session.setMode(new JavaScriptMode());

    var staticWordCompleter = {
        getCompletions: function(editorJs, session, pos, prefix, callback) {
            var wordList = ["foo", "bar", "baz"];
            callback(null, wordList.map(function(word) {
                return {
                    caption: word,
                    value: word,
                    meta: "static"
                };
            }));
        }
    }
    editorJs.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true
    });

.debug-Pannel-Right.notEdit
    .debug-Pannel-Right__section
        button#unsplash Gallery
.debug.notEdit
    .hidden
        include   ../../../../vendor/icons/icons-debug.svg
    section.mediaMap(style="height:50px;")
        .mediaMap__bounder.dl
            .mediaMap__container.dl
        .mediaMap__bounder.d(style="width:"+MEDIA.desktopBreakpoint)
            span=MEDIA.desktopBreakpoint
            .mediaMap__container.d(style="width:"+MEDIA.desktopContainer)
                span=MEDIA.desktopContainer
        .mediaMap__bounder.tl(style="width:"+MEDIA.tabletLandscapeBreakpoint)
            span=MEDIA.tabletLandscapeBreakpoint
            .mediaMap__container.tl(style="width:"+MEDIA.tabletLcontainer)
                span=MEDIA.tabletLcontainer
        .mediaMap__bounder.tp(style="width:"+MEDIA.tabletPortraitBreakpoint)
            span=MEDIA.tabletPortraitBreakpoint
            .mediaMap__container.tp(style="width:"+MEDIA.tabletPcontainer)
                span=MEDIA.tabletPcontainer
        .mediaMap__bounder.m(style="width:"+MEDIA.phoneBreakpoint+"; color:#27ae60;",)
            span=MEDIA.phoneBreakpoint
            .mediaMap__container.m(style="width:100%; background:#27ae60;")
                span=MEDIA.phoneBreakpoint
                .mediaInfo.clearfix
                    +I('arrow','icon-breakpoits')
                    #widthOf.f-left
                    #viewpr-list.f-left
    section.pb-section.clearfix#ball.hidden
        span.lh Line height
        .spacer.element-i
            span Element i
        .spacer.element-o
            span Element o
        .spacer.component-i
            span Component i
        .spacer.component-o
            span Component o
        .spacer.module-i
            span Module ii
        .spacer.module-o
            span Module o
        .spacer.block-i
            span block i
        .spacer.block-o
            span block o
    section.pb-section.clearfix.grid.grid--debug.hidden#grid
        .container
            .row
                .col-1-m.col-1-tp 1
                .col-1-m.col-1-tp 2
                .col-1-m.col-1-tp 3
                .col-1-m.col-1-tp 4
                .col-1-m.col-1-tp 5
                .col-1-m.col-1-tp 6
                .col-1-m.col-1-tp 7
                .col-1-m.col-1-tp 8
                .col-1-m.col-1-tp 9
                .col-1-m.col-1-tp 10
                .col-1-m.col-1-tp 11
                .col-1-m.col-1-tp 12
    .debugPannel__wrapper.notEdit
        .debugPannel.clearfix
            .debugPannel__section.col-4-tp
                .tabList.elAdder
                    div#tabs-add-elment
                        ul.panellInner
                            li
                                a.tabAnchr( href=""+"#tabtags" ) Tags
                            li
                                a.tabAnchr( href="" + '#tabHTML5' ) HTML5
                            li
                                a.tabAnchr( href=""+'#tabclass' ) Classes
                            li
                                a.tabAnchr(href=""+'#tabcombination') Combinations
                        div#tabtags
                            ul.debugPannel__colorSpecific
                                .clearfix
                                    li.col-1-tp Bl:
                                    li.headers#addHeader.col-1-tp H1+
                                    li#addP.col-1-tp.prgrph P
                                    li.col-1-tp.ul ul
                                    li.col-1-tp.li li
                                    li#addRect.col-1-tp.div div
                                    li#addMain.col-1-tp.main main
                                    li#addNav.col-1-tp.nav nav
                                    li#addTable.col-1-tp.tbl tbl
                                    li#addDl.col-1-tp.dl dl
                                    li#addTDt.col-1-tp.dt dt
                                    li#addTDd.col-1-tp.dd dd
                                    li.col-1-tp
                                    li#addblockquote.col-1-tp.blockquote blqt
                                    li#addForm.col-1-tp.form form
                                .clearfix
                                    li.col-1-tp Inl:
                                    li.col-1-tp.span span
                                    li.col-1-tp.link a
                                    li.col-1-tp.i i
                                    li.col-1-tp.input inpt
                                    li.col-1-tp.button btn
                                    li.col-1-tp.cite cite
                                    li.col-1-tp.select select
                                    li.col-1-tp.label label
                                    li.col-1-tp.textarea txta
                                    li.col-1-tp.tr tr
                                    li.col-1-tp.td td
                                    li.col-1-tp
                                    li.col-1-tp.th th
                        div#tabHTML5
                            ul.debugPannel__colorSpecific
                                .clearfix
                                    li.col-1-tp.header Hdr
                                    li.col-1-tp.footer Ftr
                                    li.col-1-tp.article arcl
                                    li.col-1-tp.aside aside
                                    li.col-1-tp.section sectn
                                    li.col-1-tp.figure figure
                                    li.col-1-tp.figcaption figcpt
                        div#tabclass
                            ul.debugPannel__colorSpecific
                                li span

                                li a
                                    span(style={
                                        display: 'inline-block',
                                        width: '100%',
                                        "text-shadow": "1px 1px 1px black"
                                    }) Span
                                li
                                    img(alt='img/svg',style={
                                        display: 'inline-flex',
                                        "vertical-align": 'middle',
                                        "text-shadow": "1px 1px 1px black"
                                    })
                                li
                                    div Div
                        div#tabcombination
                            ul.debugPannel__colorSpecific
                                li.headers
                                    h6(style={
                                        margin: '0',
                                        "font-size": '1rem',
                                        "font-weight": '400',
                                        "text-shadow": "1px 1px 1px black"
                                    }) h1-h6
                                li
                                    p  P
                                li
                                    ul  ul
                                li
                                    li li
                                li
                                    .col-  .Col
                                li
                                    a(style={
                                        display: 'inline-block',
                                        width: '100%',
                                        "text-shadow": "1px 1px 1px black"
                                    }) A
                                li
                                    span(style={
                                        display: 'inline-block',
                                        width: '100%',
                                        "text-shadow": "1px 1px 1px black"
                                    }) Span
                                li
                                    img(alt='img/svg',style={
                                        display: 'inline-flex',
                                        "vertical-align": 'middle',
                                        "text-shadow": "1px 1px 1px black"
                                    })
                                li
                                    div Div
                script.
                    $("#tabs-add-elment").tabs();

            .debugPannel__section.col-4-tp
                button#spacerSwitcher Spacer
                button#gridb grid
                button#debugViewSwitcher.on Debug View
                button#clone Clone
                button#getHtml Get View!
                button#up Up
                button#down Down
                button#100p 100%
                button#del Delete
                button#lock Lock
                button#unlock UnLock
                button#save Save
                button#load Load
                button#lockSpacer lock Spacer
                button#addBkg add Background
                button#startMediaTest Media
                button#getScssCode Get scss
                #editableDiv(contenteditable='true') Paste
            .debugPannel__section.col-4-tp.colors
                    .pb-element.f-left
                        .pb-colorBox
                        .pb-colorBox
                            span.pb-elementHeader Base
                        .pb-colorBox
                            span.pb-elementHeader Darken
                        .pb-colorBox
                            span.pb-elementHeader light
                    .pb-element.f-left
                        span.pb-elementHeader 1
                        .pb-colorBox.pb-colorBox--primary
                        .pb-colorBox.pb-colorBox--primary-d
                        .pb-colorBox.pb-colorBox--primary-l
                    .pb-element.f-left
                        span.pb-elementHeader 2
                        .pb-colorBox.pb-colorBox--secondary
                        .pb-colorBox.pb-colorBox--secondary-d
                        .pb-colorBox.pb-colorBox--secondary-l
                    .pb-element.f-left
                        span.pb-elementHeader A
                        .pb-colorBox.pb-colorBox--accent
                        .pb-colorBox.pb-colorBox--accent-d
                        .pb-colorBox.pb-colorBox--accent-l
                    .pb-element.f-left
                        span.pb-elementHeader Fg
                        .pb-colorBox.pb-colorBox--fground
                        .pb-colorBox.pb-colorBox--fground-d
                        .pb-colorBox.pb-colorBox--fground-l
                    .pb-element.f-left
                        span.pb-elementHeader Bg
                        .pb-colorBox.pb-colorBox--bground
                        .pb-colorBox.pb-colorBox--bground-d
                        .pb-colorBox.pb-colorBox--bground-l
                    .pb-element.f-left
                        span.pb-elementHeader F
                        .pb-colorBox.pb-colorBox--font
                        .pb-colorBox.pb-colorBox--font-d
                        .pb-colorBox.pb-colorBox--font-l
                    .pb-element.f-left
                        span B
                            input(id='colorPicker',type='color')
                        span C
                            input(id='colorPickerFont',type='color')
            .debugPannel__section.hidden
                span#phone-upper-boundary= MEDIA.phoneBreakpoint
                span#tablet-portrait-upper-boundary=MEDIA.tabletPortraitBreakpoint
                span#tablet-landscape-upper-boundary=MEDIA.tabletLandscapeBreakpoint
                span#desktop-upper-boundary=MEDIA.desktopBreakpoint
                span#desktopl-upper-boundary=MEDIA.desktoplBreakpoint
                span#tablet-p-container=MEDIA.tabletPcontainer
                span#tablet-l-container=MEDIA.tabletLcontainer
                span#desktop-container=MEDIA.desktopContainer
