.debug.notEdit
    section.mediaMap
        .mediaMap__bounder.dl
            .mediaMap__container.dl
        .mediaMap__bounder.d(style="width:"+MEDIA.desktopBreakpoint)
            span=MEDIA.desktopBreakpoint
            .mediaMap__container.d(style="width:"+MEDIA.desktopContainer)
                span=MEDIA.desktopContainer
        .mediaMap__bounder.tl(style="width:"+MEDIA.tabletLandscapeBreakpoint)
            span=MEDIA.tabletLandscapeBreakpoint
            .mediaMap__container.tl(style="width:"+MEDIA.tabletLcontainer)
                span=MEDIA.tabletLcontainer
        .mediaMap__bounder.tp(style="width:"+MEDIA.tabletPortraitBreakpoint)
            span=MEDIA.tabletPortraitBreakpoint
            .mediaMap__container.tp(style="width:"+MEDIA.tabletPcontainer)
                span=MEDIA.tabletPcontainer
        .mediaMap__bounder.m(style="width:"+MEDIA.phoneBreakpoint+"; color:#27ae60;",)
            span=MEDIA.phoneBreakpoint
            .mediaMap__container.m(style="width:100%; background:#27ae60;")
                span=MEDIA.phoneBreakpoint
                .mediaInfo.clearfix
                    +I('arrow','icon-breakpoits')
                    #widthOf.f-left
                    #viewpr-list.f-left



